
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body{
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}



/* DatePicker start */
.datepicker {
	display: none
}

.datepicker.active {
	display: block;
	z-index: 9999;
}

.datepicker-dropdown {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	padding-top: 4px
}

.datepicker-dropdown.datepicker-orient-top {
	padding-top: 0;
	padding-bottom: 4px
}

.datepicker-picker {
	display: inline-block;
	border-radius: 4px;
	background-color: #fff
}

.datepicker-dropdown .datepicker-picker {
	box-shadow: 0 2px 3px rgba(17, 24, 39, 0.1), 0 0 0 1px rgba(17, 24, 39, 0.1)
}

.datepicker-picker span {
	display: block;
	flex: 1;
	border: 0;
	border-radius: 4px;
	cursor: default;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.datepicker-main {
	padding: 2px
}

.datepicker-footer {
	box-shadow: inset 0 1px 1px rgba(17, 24, 39, 0.1);
	background-color: #9CA3AF
}

.datepicker-grid,
.datepicker-view .days-of-week,
.datepicker-view,
.datepicker-controls {
	display: flex
}

.datepicker-grid {
	flex-wrap: wrap
}

.datepicker-view .days .datepicker-cell,
.datepicker-view .dow {
	flex-basis: 14.285714%
}

.datepicker-view.datepicker-grid .datepicker-cell {
	flex-basis: 25%
}

.datepicker-cell,
.datepicker-view .week {
	height: 2.25rem;
	line-height: 2.25rem
}

.datepicker-title {
	box-shadow: inset 0 -1px 1px rgba(17, 24, 39, 0.1);
	background-color: #9CA3AF;
	padding: 0.375rem 0.75rem;
	text-align: center;
	font-weight: 700
}

.datepicker-header .datepicker-controls {
	padding: 2px 2px 0
}

.datepicker-controls .button {
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	margin: 0;
	border: 1px solid #808998;
	border-radius: 4px;
	box-shadow: none;
	background-color: #fff;
	cursor: pointer;
	padding: calc(0.375em - 1px) .75em;
	height: 2.25em;
	vertical-align: top;
	text-align: center;
	line-height: 1.5;
	white-space: nowrap;
	color: #1F2937;
	font-size: 1rem
}

.datepicker-controls .button:focus,
.datepicker-controls .button:active {
	outline: none
}

.datepicker-controls .button:hover {
	border-color: #5b6371;
	color: #1F2937
}

.datepicker-controls .button:focus {
	border-color: #3273dc;
	color: #1F2937
}

.datepicker-controls .button:focus:not(:active) {
	box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25)
}

.datepicker-controls .button:active {
	border-color: #384f80;
	color: #1F2937
}

.datepicker-controls .button[disabled] {
	cursor: not-allowed
}

.datepicker-header .datepicker-controls .button {
	border-color: transparent;
	font-weight: bold
}

.datepicker-header .datepicker-controls .button:hover {
	background-color: #f9f9f9
}

.datepicker-header .datepicker-controls .button:focus:not(:active) {
	box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25)
}

.datepicker-header .datepicker-controls .button:active {
	background-color: #f2f2f2
}

.datepicker-header .datepicker-controls .button[disabled] {
	box-shadow: none
}

.datepicker-footer .datepicker-controls .button {
	margin: calc(0.375rem - 1px) 0.375rem;
	border-radius: 2px;
	width: 100%;
	font-size: .75rem
}

.datepicker-controls .view-switch {
	flex: auto
}

.datepicker-controls .prev-btn,
.datepicker-controls .next-btn {
	padding-right: 0.375rem;
	padding-left: 0.375rem;
	width: 2.25rem
}

.datepicker-controls .prev-btn.disabled,
.datepicker-controls .next-btn.disabled {
	visibility: hidden
}

.datepicker-view .dow {
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: .875rem;
	font-weight: 700
}

.datepicker-view .week {
	width: 2.25rem;
	color: #5b6371;
	font-size: .75rem
}

@media (max-width: 22.5rem) {
	.datepicker-view .week {
		width: 1.96875rem
	}
}

.datepicker-grid {
	width: 15.75rem
}

@media (max-width: 22.5rem) {
	.calendar-weeks+.days .datepicker-grid {
		width: 13.78125rem
	}
}

.datepicker-cell:not(.disabled):hover {
	background-color: #f9f9f9;
	cursor: pointer
}

.datepicker-cell.focused:not(.selected) {
	background-color: #8e96a4
}

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
	background-color: #3273dc;
	color: #fff;
	font-weight: 600
}

.datepicker-cell.disabled {
	color: #808998
}

.datepicker-cell.prev:not(.disabled),
.datepicker-cell.next:not(.disabled) {
	color: #7a7a7a
}

.datepicker-cell.prev.selected,
.datepicker-cell.next.selected {
	color: #e6e6e6
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today) {
	border-radius: 0;
	background-color: #9CA3AF
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today):not(.disabled):hover {
	background-color: #959ca9
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today).focused {
	background-color: #8e96a4
}

.datepicker-cell.today:not(.selected) {
	background-color: #00d1b2
}

.datepicker-cell.today:not(.selected):not(.disabled) {
	color: #fff
}

.datepicker-cell.today.focused:not(.selected) {
	background-color: #00c4a7
}

.datepicker-cell.range-end:not(.selected),
.datepicker-cell.range-start:not(.selected) {
	background-color: #5b6371;
	color: #fff
}

.datepicker-cell.range-end.focused:not(.selected),
.datepicker-cell.range-start.focused:not(.selected) {
	background-color: #555d69
}

.datepicker-cell.range-start {
	border-radius: 4px 0 0 4px
}

.datepicker-cell.range-end {
	border-radius: 0 4px 4px 0
}

.datepicker-cell.range {
	border-radius: 0;
	background-color: #ffffff
}

.datepicker-cell.range:not(.disabled):not(.focused):not(.today):hover {
	background-color: #798293
}

.datepicker-cell.range.disabled {
	color: #666f7f
}

.datepicker-cell.range.focused {
	background-color: #727c8d
}

.datepicker-view.datepicker-grid .datepicker-cell {
	height: 4.5rem;
	line-height: 4.5rem
}

.datepicker-input.in-edit {
	border-color: #2366d1
}

.datepicker-input.in-edit:focus,
.datepicker-input.in-edit:active {
	box-shadow: 0 0 0.25em 0.25em rgba(35, 102, 209, 0.2)
}

.datepicker .datepicker-cell.selected,
.datepicker .datepicker-cell.selected:hover {
	background: #1F2937
}


/* DatePicker end */


.sidenav{
	width: 261px;
    height: 100vh;
    background: #dcdcdc !important;
    align-items: flex-start;
    /* overflow: auto; */
    /* padding-bottom: 100px; */
	position: fixed;
    /* left: 0; */
    /* top: 0; */
    height: 100%;
}
.sidenav #menudiv{
	max-height: calc(100vh - 200px);
    overflow: auto;
	padding: 0;
}
.sidenav .container-fluid{
	flex-wrap: wrap;
	justify-content: flex-start;
	-ms-overflow-style: none; 
  	scrollbar-width: none;  
}
.sidenav .container-fluid::-webkit-scrollbar{
	display: none;
}
.sidenav .container-fluid .mCustomScrollBox {
	width: 100%;
}
.sidenav .navbar-nav{
	    flex-wrap: wrap;
}
.sidenav .navbar-nav li.nav-item{
	    flex: 0 0 100%;
    width: 100%;
}
.sidenav .logoWrap {
	flex: 0 0 100%;
	width: 100%;
	text-align: center;
	/* padding: 30px 15px; */
}
.menuExpander {
	text-align: center;
    display: block;
    padding: 5px 0px !important;
    border-top: 1px solid #606060;
	margin-top: 30px;
}
.menuExpander .expander{
	color: #f8f9fa;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
}
.sidenav ul li a > *{
	display: inline-block;
	vertical-align: middle;
}
.sidenav.navbar-light .navbar-nav .nav-link.active, 
.sidenav.navbar-light .navbar-nav .show>.nav-link,
.sidenav.navbar-light .navbar-nav .nav-link{
	color: #313131;
	padding-top: 15px;
    padding-bottom: 15px; 
	padding-left: 25px;
	font-size: 0.9rem;
	font-weight: 400;
	position: relative;
	padding-right: 20px;
}
.sidenav.navbar-light .navbar-nav .nav-link.active:before, 
.sidenav.navbar-light .navbar-nav .show>.nav-link::before,
.sidenav.navbar-light .navbar-nav .nav-link::before{
	content: "";
	width:13px;
	height: 100%;
	top: 0;
	left: 0;
	background: #E0272D;
	position: absolute;
	opacity: 0;
}
.sidenav.navbar-light .navbar-nav .nav-item:hover .nav-link.active:before, 
.sidenav.navbar-light .navbar-nav .nav-item:hover .show>.nav-link::before,
.sidenav.navbar-light .navbar-nav .nav-item:hover .nav-link::before,
.sidenav.navbar-light .navbar-nav .nav-item .nav-link.active:before{
	opacity: 1;
}
.sidenav.navbar-light .navbar-nav .nav-link.active,
.sidenav.navbar-light .navbar-nav .nav-item:hover .nav-link{
	background-color: #e9ecef;
	color: #313131;
}
.sidenav.navbar-light .navbar-nav .nav-link.active img,
.sidenav.navbar-light .navbar-nav .nav-item:hover .nav-link img{
	filter: brightness(0.4);
}
.sidenav.navbar-light .navbar-nav .nav-link.active img, 
.sidenav.navbar-light .navbar-nav .show>.nav-link img,
.sidenav.navbar-light .navbar-nav .nav-link img{
	width: 23px;
    height: 23px;
    object-fit: contain;
    margin-right: 15px;
}
.sidenav.navbar-light .navbar-nav .nav-link.menuExpander img{
	width: auto !important;
	height: auto !important;
	object-fit: none !important;
}
.sidenav.navbar-light .navbar-nav .nav-link.menuExpander + .dropdown-menu{
	position: static;
    background: #313131;
	width: 100%;
	min-width: 100%;
}
.sidenav .navbar-nav li.nav-item .menuExpander{
	background: transparent !important;
}
.sidenav .navbar-nav li.nav-item .menuExpander::after,
.sidenav .navbar-nav li.nav-item .menuExpander::before{
	display: none;
}
.sideAdminBox {
	position: absolute;
    bottom: 0;
	left: 0;
    padding: 20px 15px;
}
.sideAdminBox .inrWrp {
	display: flex;
    align-items: center;
}
.sideAdminBox .inrWrp .notification{
	margin-right: 15px;
}
.sideAdminBox .adminImg{
	width: 52px;
    height: 52px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
}
.sideAdminBox .adminTxt h5{
    font-size: 13px;
    color: #fff;
    margin: 0;
	cursor: pointer;
}
.sideAdminBox .adminTxt p{
	font-size: 11px;
    color: #fff;
    margin: 0;
	cursor: pointer;
}
.sideAdminBox .inrWrp  .dropdown-menu{
	top: auto;
    bottom: 100%;
    left: auto;
    right: 0;
}
.containerWrap {
	padding-left: 261px;
    min-height: 100vh;
    width: 100%;
}
.sidenav .navbar-collapse{
	max-width: 100%;
}
.sidenav.navbar-light .navbar-nav .nav-link .expander{
    text-align: center;
}
.headerInr {
	display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
	align-items: center;
}
.contHeader{
	background-color: #f2f2f2;
	border-bottom: 2px solid #e2e2e2;
}
.headerInr .searchsec{
	width: 70%;
	display: flex;
    align-items: center;
}
.headerInr .searchsec form{
	position: relative;
    max-width: 580px;
	width: 100%;
	margin-right: 30px;
}
.headerInr .searchsec form .form-control{
    padding-left: 50px;
    border-radius: 20px;
    width: 100%;
    border-color: #E2E2E2;
	height: 46px;
	border-radius: 25px;
	height: 46px;
}
.headerInr .searchsec form .btn{
	position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0px, -50%);
}
.logoutBx a::marker{
	display: none !important;
}
.calcBx {
	display: flex;
}
.calcBx .clc{
	margin-right: 15px;
}
.logoutBx a{
    color: #484848;
    font-weight: 500;
    text-decoration: none;
}
.pageContent {
	padding-top: 70px;
	padding-bottom: 50px;
}
.deshItem .item{
	padding-right: 2rem;
	padding-left: 2rem;
}
.deshItem .item .innerItem{
    background: #313131;
	margin-bottom: 4rem;
}
.deshItem .item .innerItem .mnValue{
	font-size: 7rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-align: center;
    color: #fff;
}
.deshItem .item .innerItem .itemFoot {
	display: flex;
}
.deshItem .item .innerItem .itemFoot .customer,
.deshItem .item .innerItem .itemFoot .employee{
	width: 100%;
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding: 5px 15px;
}
.deshItem .item .innerItem .itemFoot .customer{
	background: #626269;
}
.deshItem .item .innerItem .itemFoot .employee{
	background: #C24A51;
}
.deshItem .item .innerItem .itemFoot .customer big,
.deshItem .item .innerItem .itemFoot .employee big{
	font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 2.5rem;
    vertical-align: middle;
    margin-left: 2.5rem;
}
.deshItem .item .innerItem h6{
	color: #fff;
    margin: 0;
    font-size: 18px;
	padding: 13px 20px;
	font-weight: 600;
}
.red{
    color: #ff0000;
}
.sidenav .navbar-nav li.nav-item.hide{
	display: none;
}
.sidenav .navbar-nav li.nav-item.shouldshow,
.sidenav .navbar-nav li.nav-item.readMore,
.sidenav .navbar-nav li.nav-item.hide.showAll{
	display: block;
	padding-top: 5px;
    padding-bottom: 5px;
}
.sidenav .navbar-nav li.nav-item .menuExpander{
	margin-top: 0 !important;
}
.readMore .menuExpander .txtl{
	display: none;
}
.readMore .menuExpander.less .txtl{
	display: inline;
}
.readMore .menuExpander.less .txtm{
	display: none;
}
.themeTable .DatatableHeader{
    display: flex;
    align-items: center;
	margin-bottom: 40px;
}
.themeTable .DatatableHeader .pgTitle h1{
    font-size: 2.2rem;
    margin-right: 20px;
    margin-bottom: 0;
}
.themeTable .DatatableHeader .searchBx input[type="text"],
.thmSelect select,
.themeSearch input[type="text"]{
	height: 47px;
    border: 1px solid #ddd;
    width: 220px;
    max-width: 220px;
    flex: 0 0 220px;
	background-image: url('../img/search-red.svg');
	background-repeat: no-repeat;
	padding-left: 40px;
	outline: 0;background-position: 15px center;
    border-radius: 6px;
	color: #313131;
	font-size: 0.8rem;
}
.thmSelect select{
	background-image: none;
	padding-left: 15px;
}
.thmSelect {
	position: relative;
}
.themeTable .DatatableHeader .thmSelect label{
	font-size: 0.75rem;
}
.themeTable .DatatableHeader .searchBx input[type="text"]::placeholder{
	color: #313131;
}

.themeTable .DatatableHeader .tableLength{
	margin-left: auto;
	display: flex;
    align-items: center;
}
.themeTable .DatatableHeader .tableLength span{
	margin-right: 15px;
    font-size: 0.9rem;
}

.themeTable .DatatableHeader .tableLength select{
	height: 45px;
    background: #313131;
    color: #fff;
    border: 1px solid #313131;
    border-radius: 0px;
    padding: 5px 15px;
	font-size: 0.9rem;
    font-weight: 500;    
	cursor: pointer;
}
.themeTable .DatatableHeader .tableLength select:focus-visible{
	border-radius: 0 !important;
	outline: none;
}
.themeTable .DatatableHeader .tableLength select::-ms-expand{
	display: none;
}
.themeTable .dataTables_length,
.themeTable .dataTables_filter{
	display: none;
}
.themeTable .DatatableHeader .tableLength .selectWrap{
	position: relative;
}
.themeTable .DatatableHeader .tableLength .selectWrap::after{
	content: "";
    width: 25px;
    height: 100%;
    background-color: #E0273D;
    position: absolute;
    right: 0;
	background-image: url('../img/angle-arrow-down-select.svg');
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
	/* background-size: contain; */
}

.themeTable table thead{
	background: #ffffff;
    color: #313131;
	font-size: -1.8rem;
}
.themeTable table thead th,
.themeTable table tbody tr td{
	padding: 15px 20px;
	font-weight: 400;
}
.themeTable table thead th::after,
.themeTable table thead th::before{
	top: 50%;
    transform: translate(0px, -50%);
}
.themeTable table tbody tr.odd{
	background: #E8E8E8;
}
.themeTable table tbody tr.even{
	background: #F2F2F2;
}
.themeTable table tbody tr td{
	font-size: 0.9rem;
}
.themeTable .dataTables_paginate > .paginate_button {
    width: 26px;
    height: 26px;
    font-size: 0;
    display: inline-block;
    border: 2px solid #313131;
	vertical-align: middle;
	background-image: url('../img/tringle-left.svg');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.themeTable .dataTables_paginate > .paginate_button.next {
	background-image: url('../img/tringle-right.svg');
}

.themeTable .dataTables_paginate > span .paginate_button {
	font-size: 0.9rem;
	color: #313131;
	font-weight: 500;
	display: inline-block;
	padding:0 5px;
	text-decoration: none;
}
.themeTable .dataTables_wrapper{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.themeTable .dataTables_wrapper table{
	flex: 0 0 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px !important;
}
.themeTable .dataTables_wrapper .dataTables_info{
	display: inline-block;
    padding: 0;
	margin-right: 20px;
}
.sideAdminBox .inrWrp .notification{
	position: relative;
}
.sideAdminBox .inrWrp .notification .dot{
	width: 8px;
    height: 8px;
    background: #999;
    position: absolute;
    border-radius: 50%;
    right: 0;
    top: 0;
}
.sideAdminBox .inrWrp .notification .dot.green{
	background: #4AC26C;
}
.pageTtl{
	margin-bottom: 40px;
}
.pageTtl h1{
    font-size: 2.2rem;
    margin-right: 20px;
    margin-bottom: 0;
}
.greyBx {
	background: #F2F2F2;
    padding: 70px 60px;
}
.themeForm .form-label,
.themeForm .form-check-label{
	font-size: 0.75rem;
    margin-bottom: 5px;
}
.themeForm .form-check-label{
	margin: 0;
}
.mb-2rem{
	margin-bottom: 2rem;
}
.dragBox h6{
	font-size: 0.8rem;
	text-align: center;
	font-weight: 400;
	margin-bottom: 20px;
}
.dragBox .boxSelf{
	width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #313131;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 0.8rem;
    border: 4px solid #E0273D;
	
}
.dragBox .boxSelf img{
	width: 100%;
    height: 100%;
	border-radius: 50%;
    object-fit: cover;
}
.themeForm{
	padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}
.themeForm .form-check-input{
    margin-left: 0;
    border: 1px solid #B5B5B5;
    border-radius: 0;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    vertical-align: middle;
	background: #fff;
	box-shadow: none;
    margin-top: 0;
	cursor: pointer;
}
.themeForm .form-check-input:checked[type=checkbox],
.themeForm .form-check-input:checked[type=radio]{
	background: #fff;
    border: 1px solid #B5B5B5;
	background-image: url('../img/checkbox-red-check.svg');
	background-repeat: no-repeat;
    background-position: center;
	box-shadow: none;
}
.themeForm .form-check-input:checked[type=radio]{
	background-image: url('../img/radio-check.svg');
}
.themeForm .textareaHeight135{
	min-height: 135px;
}
.themeForm .form-control,
.themeForm .form-select,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single{
	border-color: #E1E1E1;
    border-radius: 0;
	font-size: 0.9rem;
}
.themeForm textarea.form-control{
	height: 100px;
}
.themeForm .form-control:focus,
.themeForm .form-select:focus{
	box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 05%);
}
.themeForm .error .form-label,
.themeForm .error .form-control, 
.themeForm .error .form-select{
	color: #E0273D;
}
.themeBtn {
	border-radius: 0;
    min-width: 120px;
    height: 45px;
    border: 2px solid transparent;
	justify-content: center;
    align-items: center;
    display: flex;
}
.themeBtn.themeFill {
	border-color:  #E0273D;
	background:  #E0273D;
}
.themeBtn.themeFill:hover{
	color:  #E0273D;
	background:  #F2F2F2;
}
.themeBtn.themeFill svg path{
	fill:  #FFF;
}
.themeBtn.themeFill:hover svg path{
	fill:  #E0273D;
}
.themeBtn.themeUnFill {
	background:  #F2F2F2;
	color:  #313131;
	border-color:  #313131;
}
.themeBtn.themeUnFill:hover{
	background:  #E0273D;
	color: #fff;
	border-color:  #E0273D;
}
.themeBtn.blackBtn{
	border-color:  #313131;
	background:  #313131;
}
.themeBtn.blackBtn:hover{
	color:  #313131;
	background:  #F2F2F2;
}
.themeBtn.blackBtn:hover svg path{
	fill: #313131;
}
.themeBtn.btnGreen{
	color:  #FFFFFF;
	border-color:  #4AC26C;
	background:  #4AC26C;
}
.themeBtn.btnGreen:hover{
	border-color:  #3d9e59;
	color:  #FFFFFF;
	background:  #3d9e59;
}
.blueUnFill{
	border-color: #4786CB;
	background: transparent;
	color: #4786CB;
}
.blueUnFill:hover{
	color: #4786CB;
	background: #f1f1f1;
}
.greyUnFill{
	border-color: #515155;
	background: transparent;
	color: #515155;
}
.greyUnFill:hover{
	color: #515155;
	border-color: #515155;
	background: #f1f1f1;
}
.btnGrey{
	background-color: #515155;
	border-color: #515155;
}
.btnGrey:hover{
	background-color: #5f5f65;
	border-color: #5f5f65;
}



.btn-group-sm.btnWhite {
	height: 32px;
}
.btnWhite {
	background: #FFFFFF;
    color: #313131;
	border-color: #ffffff;
}
.btnWhite svg path{
	fill: #313131;
}
.btnWhite:hover,
.btnWhite:focus{
	background: #ddd;
	border-color: #ddd;
    color: #313131;
}

.dragBox{
	margin-top: 20px;
    margin-bottom: 20px;
}
.themeForm .statusWrap .form-select{
	padding-left: 30px;
}
.themeForm .statusWrap {
	position: relative;
}
.themeForm .statusWrap::before{
    content: "";
    width: 12px;
    height: calc(100% - 2px);
    top: 1px;
    left: 1px;
    position: absolute;
    background: #1F9440;
}
.themeForm .statusWrap.draftMode::before{
    background: #6A6A6A;
}
.themeForm .statusWrap.activeMode::before{
    background: #1F9440;
}
.themeForm .statusWrap.inActiveMode::before{
    background: #6A6A6A;
}
.themeForm .statusWrap.bannnedMode::before{
    background: #212529;
}
.themeForm .statusWrap.blocked::before{
    background: #E0273D;
}

.themeStatus{
	padding-left: 25px;
    background: #fff;
    border-radius: 0;
    font-size: 0.75rem;
	position: relative;
	border: 0;
	font-weight: 500;
}
.themeStatus::before{
	content: "";
    width: 12px;
    height: 100%;
    position: absolute;
    left: 0;
	top: 0;
}
.themeStatus.active{
	color:#1F9440;
}
.themeStatus.active::before{
	background:#1F9440;
}
.themeStatus.inactive{
	color:#6A6A6A;
}
.themeStatus.inactive::before{
	background:#6A6A6A;
}
.themeStatus.draft{
	color:#6A6A6A;
}
.themeStatus.draft::before{
	background:#6A6A6A;
}
.themeStatus.banned{
	color:#212529;
}
.themeStatus.banned::before{
	background:#212529;
}
.themeStatus.blocked{
	color:#E0273D;
}
.themeStatus.blocked::before{
	background:#E0273D;
}
.themeStatus.complete{
	color:#ffffff;
	padding: .375rem .75rem;
	background:#2474A1;
}
.themeStatus.complete::before{
	background:transparent;
}
.dataActionBtn {
	display: flex;
	width: 26px;
	height: 26px;
	padding: 5px;
	background: #fff;
	border-radius: 0;
	justify-content: center;
    align-items: center;	
}
.dataActionBtn.btnDelete{
	background: #E0273D;
}
.dataActionBtn.btnView{
	background: #4AC26C;
}
.sqrIndicate,
.dataColor {
	width: 14px;
    height: 14px;
    background: transparent;
    display: inline-block;
}
.sqrIndicate.red{
	background: #E0273D;
}
.sqrIndicate.nonRed{
	background: #313131;
}
.themeFill.iconLeft:hover svg path{
	fill: #e0273d;
}
.themeModal,
.modal-backdrop{
	max-width: calc(100% - 261px);
    right: 0;
    left: auto;
}
.themeModal .modal-content{
    border-radius: 0;
}
.themeModal .modal-header{
    background: #313131;
    border-radius: 0;
    color: #fff;
}

.themeModal .errorBg{
	background: #E0273D;
}
.themeModal .modal-content{
	background-color: #F2F2F2;
	border: 0;
}
.themeModal .modal-header .modal-title,
.themeModal .modal-body .msg-o{
	font-size: 1.15rem;
}
.themeModal .modal-footer{
	border-color: #E1E1E1;
}
.modalForm {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.btnFloat .btn{
	position: absolute;
    top: 50%;
    margin: 0;
    right: 00px;
    transform: translate(-15px, -50%);
}
.btnFloat {
	position: relative;
}
.btnFloat input{
	padding-right: 45px;
}
.colorBoxSelector{
	position: relative;
}
.colorBoxSelector span{
	position: absolute;
    width: 60px;
    height: calc(100% - 2px);
    left: 0;
    top: 1px;
}
.colorBoxSelector input{
	padding-left: 70px;
}
.themeModal .modal-header .btn-close{
	background-image: none;
}
.table-dark{
	background-color: #313131;
}
.themeModal.bdWhite .modal-content{
	background: #fff;
}
.orderDetailModal .normalSecTtl h5{
	font-size: 0.95rem;
	font-weight: 600;
}
.orderDetailModal table.orderDesk,
.orderDetailModal table.tableDownload{
	border: 2px solid #DDD;
	border-color: #dee2e6;
	font-size: 0.8rem;
}
.orderDetailModal table.tableDownload{
	font-size: 0.75rem;
}
.orderDetailModal table.orderDesk th{
	background-color: #F2F2F2;
	font-weight: 500;
}
.orderDetailModal table.tableDownload th{
	font-weight: 500;
}
.tableDownload thead tr td{
	background-color: #313131;
}
.doc{
	text-decoration: none;
    color: #6A6A6A;
    padding-left: 40px;
    min-height: 30px;
	display: flex;
    align-items: center;
	background-image: url('../img/doc-pdf.svg');
	background-repeat: no-repeat;
	background-position: left center;
}
.doc.docPdf{
	background-image: url('../img/doc-pdf.svg');
}
	
.themeTable .DatatableHeader .thmSelect label{
	display: block;
}
.editOrderModal .btnGreen,
.btnAdjusterInput{
	height: 48px;
    position: relative;
	min-width: auto;
    top: -1px;
	/* width: 100%; */
	font-size: 0.9rem;
}
.themeBtn.d-inline-block{
	line-height: 34px;
}
.editOrderTable .table thead{
	border-bottom-color: #B5B5B5;
	background: #E7E7E7;
}
.editOrderTable .table-striped>tbody>tr:nth-of-type(odd){
	background: #FAFAFA;
}
.editOrderTable .table thead tr th{ 
	color: #515155;
	font-size: 0.75rem;
	font-weight: 500;
	border:none;
}
.editOrderTable .table-responsive{
	border: 1px solid #DDDDDD;
	max-height: 450px;
	/* min-height: 450px; */
	background: #F2F2F2;
}
.editOrderTable .table tbody tr td{
	font-size: 0.82rem;
	border: none;
}
.themeModal .modal-content{
	width: 95%;
	margin-left: auto;
    margin-right: auto;
}
.fileType{
	cursor: pointer;
}
/**remove .form-label class from here **/
.fileType{
    width: 100%;
    padding: 36px 15px;
    border: 2px dashed #DDDDDD !important; 
    border-radius: 0 !important; 
    background: #F3F3F3;
    text-align: center;
	cursor: pointer;    
	margin-bottom: 0 !important;
    display: block;
}
.fileType h3{
	color: #484848;
	font-size: 0.8rem;
	font-weight: 400;
}
.fileType h4{
	color: #8A8A8A;
	font-size: 0.7rem;
	font-weight: 400;
}
.fileType img{
	margin-bottom: 10px;
}
.fileType .form-control{
	height: 0 !important;
    width: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0;
}
.linkGrey{
	color: #7E7E7E;
}
.linkBlue{
	color: #4B94D7;
}
.linkRed{
	color: #E0272D;
}
.dragFileWrap + .d-flex.justify-content-between > a{
	font-size: 0.8rem;
	font-weight: 500;
	text-decoration: none;
}
.uploaderSec{
	margin-right: -1rem;
    margin-left: -1rem;
	border-bottom: 1px solid #E1E1E1;
}
.notiCount {
    position: absolute;
    width: 18px;
    height: 18px;
    background: red;
    font-size: 11px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    right: 5px;
    top: calc(50% - 7.5px);
}
.addItemSecOne textarea.form-control{
	min-height: 163px;
}
.sectionHeader h3{
	font-weight: 600;
	font-size: 1.5rem;
}
.pageTtl strong{
	font-weight: 600;
}
.text-d-none{
	text-decoration: none;
}
.profPic {
	text-align: center;
}
.profPic .proPicSelf{
	width: 145px;
    height: 145px;
    border-radius: 50%;
	justify-content: center;
    align-items: center;
    overflow: hidden;
	display: flex;
	font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #dddddd;
}
.profPic .proPicSelf img{
	width: 100%;
    height: 100%;
    object-fit: cover;
}
.notifiItem{
	padding-top: 30px;
	margin-bottom: 25px;
}
.notifiItem .notifItemInner{
	position: relative;
	background: #fff;
	padding: 1rem;
	padding-left: 80px;
	box-shadow: 0px 4px 19px -5px rgba(27, 25, 109, 0.09);

}
.notifiItem .notifItemInner::after{
	content: "";
	position: absolute;
	width: 50px;	
	height: 100%;
	left: 0;
	top: 0;
	
	background-position: center center;
	background-repeat: no-repeat;
}
.notifiItem .notifItemInner .actionPt {
	position: absolute;
    bottom: calc(100% + 5px);
    right: 0;
}
.notifiItem .notifItemInner .actionPt a{
	margin-left: 15px;
	font-size: 12px;
}
.notifiItem .notifItemInner .textPt h3{
	font-size: 15px;
    font-weight: 600;
	color: #6A6A6A;
	margin-bottom: 5px;
}
.notifiItem .notifItemInner .textPt p{
	font-size: 13px;
	color: #9E9E9E;
	margin-bottom: 0;
}




.notifiItem.warning .notifItemInner::after{
	background-image: url('../img/ico-noti-warning.svg');
	background-color: #FDEDB4;
}
.notifiItem.error .notifItemInner::after{
	background-image: url('../img/ico-noti-error.svg');
	background-color: #FADADB;
}
.notifiItem.success .notifItemInner::after{
	background-image: url('../img/ico-noti-success.svg');
	background-color: #ABF5C0;
}
.notifiItem.primary .notifItemInner::after{
	background-image: url('../img/ico-noti-primary.svg');
	background-color: #CAE1FB;
}

.filterHeader .checkboxHeadWrap{
	background: #4C4C51;
	padding: 10px 0;
}
.filterHeader .checkboxHeadWrap input[type=checkbox]{
	margin-right: 0;
	margin-left: 5px;
}
.filterHeader .checkboxHeadWrap .checkItem label{
	color: #FFF;
}
.productDsgn {
	background: #F2F2F2;
}
.productDsgn .productItem {
	margin-bottom: 50px;
}
.productDsgn .productItem .productItemInner .proDtl {
	border: 1px solid #E1E1E1;
	background-color: #ffffff;
}
.productDsgn .productItem .productItemInner .proDtl .imgBtn .imgPt,
.productDsgn .productItem .productItemInner .proDtl .imgBtn .btnPt{
	flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.productDsgn .productItem .productItemInner .proDtl .imgBtn .imgPt img{
	max-width: 100%;
}
.numValue ul,
.viewBtnBox ul{
	list-style: none;
    padding: 0;
}
.numValue ul li {
	font-size: 12px;
	margin-bottom: 25px;
}
.numValue ul li:last-child{
	/* margin-bottom: 0; */
}
.numValue ul li .value {
	font-size: 18px;
}
.numValue ul li .ttlPt{
	
}
.productDsgn .productItem .productItemInner .proDtl .btnSt a{
	flex: 0 0 calc(50% - 15px);
	width: calc(50% - 15px);
	max-width: calc(50% - 15px);
}
.productDsgn .productItem .productItemInner .proDtl .proDesc {
	min-height: 70px;
	font-size: 12px;
}
.productDsgn .productItem .productItemInner .proDtl .proDesc p{
	margin: 0;
}
.productDsgn .productItem .productItemInner .proDtl .imgBtn{
	justify-content: space-between;
	display: flex;
}
.list .productDsgn .productItem .productItemInner .proDtl .imgBtn{
	flex: 0 0 35%;
	max-width: 35%;
}
.numValue ul li,
.viewBtnBox ul,
.themeTabHeader .productHeader,
.themeTabHeader .productHeader .sideSrch{
	justify-content: space-between;
	display: flex;
	align-items: center;
}
.viewBtnBox ul{
	justify-content: flex-start;
	margin-left: 10px;
	margin-bottom: 0;
}
.viewBtnBox ul li a{
	padding: 5px;
}
.themeTabHeader .productHeader {
	margin-bottom: 30px;
}
.viewBtnBox ul li a path{
	fill: #313131;
}
.viewBtnBox ul li a.active path{
	fill: #E0272D;
}
.themeTabHeader .productHeader .nav-tabs,
.themeTabHeader .productHeader .nav-tabs .nav-item.show .nav-link, 
.themeTabHeader .productHeader .nav-tabs .nav-link.active, 
.themeTabHeader .productHeader .nav-tabs .nav-link{
	border-color: transparent;
}
.themeTabHeader .productHeader .nav-tabs .nav-link::after{
	content: "";
	height: 4px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.themeTabHeader .productHeader .nav-tabs .nav-item.show .nav-link::after, 
.themeTabHeader .productHeader .nav-tabs .nav-link.active::after{
	background-color: #E0272D;
}
.themeTabHeader .productHeader .nav-tabs .nav-link{
	color: #939393;
	position: relative;
	padding:0;
	line-height: 47px;
	margin-right: 25px;
}
.themeTabHeader .productHeader .nav-tabs .nav-item.show .nav-link, 
.themeTabHeader .productHeader .nav-tabs .nav-link.active{
	color: #313131;
}
.list .productDsgn .productItem{
	width: 100%;
	flex: 0 0 100%
}
.productDsgn .productItem .productItemInner .listShow{
	display: none;
}
.list .productDsgn .productItem .productItemInner .listShow{
	display: block;
	min-height: auto;
}
.list .productDsgn .productItem .productItemInner .proDtl > .proDesc{
	display: none;
}
.list .productDsgn .productItem .productItemInner .proDtl {
	display: flex;
	align-items: flex-start;
}
.list .productDsgn .productItem .productItemInner .proDtl .imgBtn .btnPt{
	display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.list .productDsgn .productItem .productItemInner .proDtl .imgBtn .btnPt{
	flex: 0 0 calc(100% - 150px);
    width: calc(100% - 150px);
    max-width: calc(100% - 150px);
	padding-right: 15px;
	padding-left: 15px;
	text-align: left !important;
	justify-content: flex-end;
}
.list .productDsgn .productItem .productItemInner .proDtl .imgBtn .imgPt{
	flex: 0 0 150px;
    width: 150px;
    max-width: 150px;
}
.productDsgn .productItem .productItemInner .proDtl .btnSt{
	display: flex;
	justify-content: space-between
}
.list .productDsgn .productItem .productItemInner .proDtl .btnSt{
	flex-wrap: wrap;
	flex: 0 0 15%;
	max-width: 15%;
	padding-top: 10px;
    padding-bottom: 10px;
	text-align: center;
	
}
.list .productDsgn .productItem .productItemInner .proDtl .btnSt a{
	width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.list .productDsgn .productItem .productItemInner .proDtl .btnSt a + a{
	margin-top: 10px;
}
.list .productDsgn .productItem .productItemInner .proDtl .numValue{
	padding-right: 15px;
	padding-left: 0px;
	flex: 0 0 50%;
	max-width: 50%;
	padding-top: 10px;
    padding-bottom: 10px;
}
.list .numValue ul li .value{
	font-size: 13px;
}
.list .numValue ul li{
	width: 50%;
}
.list .numValue ul {
	display: flex;
    flex-wrap: wrap;
	margin-bottom: 0;
}
.list .numValue ul li{
	width: 50%;
    padding: 0 10px;
	flex: 0 0 50%;
}
.list .productDsgn .productItem .productItemInner .proDtl .imgBtn .btnPt .linkRed{
	background: #F2F2F2;
    padding: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid #E1E1E1;
	color: #515155;
	font-size: 12px;
}
.list .productDsgn .productItem .productItemInner .proDtl .imgBtn,
.list .productDsgn .productItem .productItemInner .proDtl .imgBtn .btnPt .themeBtn.greyUnFill{
	margin-bottom: 0 !important;
}
.gridHide{
	display: none;
}
.list .listHide,
.list .gridHide{
	display: none;
}
.list .gridHide{
	display: block;
}
.list .productDsgn .productItem .productItemInner .proDtl .btnSt .linkBlue {
	font-size: 12px;
}
.list .productDsgn .productItem .productItemInner .proDtl .imgBtn .btnPt .btn {
	font-size: 12px;
	height: 32px;
}
.productDsgn .productItem .productItemInner .proDtl .proDesc a{
	color: #212529;
}
.orderDetailMain{
	padding: 1rem;
}
.orderDetailMain .innerWrap{
	background-color: #fff;
}
.proInfoBoxWrap .infoSelf{
    background: #F2F2F2;
    height: 45px;
    padding: 5px 20px;
    min-width: 220px;
    font-size: 12px;
    text-align: center;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
	border: 1px solid #E1E1E1;
}
.orderDetailMain .orderDtlHeader{
	padding: 1rem;
	border-bottom: 1px solid #E1E1E1;
}
.orderDetailMain .orderDtlHeader .proImg img{
	max-width: 100%;
}
.orderDetailMain .orderDtlHeader .proImg{
    flex: 0 0 100px;
}
.orderDetailMain .orderDtlHeader .col{
	padding-bottom: 22px;
}
.orderDetailMain .orderDtlHeader .col{
	position: relative;
}
.orderDetailMain .orderDtlHeader .col .genLink {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}
.orderDetailMain .orderDtlHeader > .row{
	align-items: center;
}
.inputBgGrey {
	background-color: #DDDDDD;
}
.orderDetailMain .orderDtContainer {
	padding: 1.5rem 1rem;
} 
.orderDetailMain .orderDtContainer .themeTable .DatatableHeader{
	margin-bottom: 1rem;
}
.orderDetailMain .orderDtlHeader .col.proImg{
	text-align: center;
}
.whiteSNoW{
	white-space: nowrap;
}

.orderDetailMain .orderDtlHeader .col.itemInfoDrop{
	/* position: relative; */
}
.orderDetailMain .orderDtlHeader .col.itemInfoDrop .dropdown-menu{
	min-width: 280px;
	font-size: 11px;
	padding: 0;
	/* right: 0 !important; */
	/* left: auto !important; */
}
.orderDetailMain .orderDtlHeader .col.itemInfoDrop .dropdown-menu table th{
	border-right: 1px solid #e1e1e1;
}
.orderDetailMain .orderDtlHeader .col.itemInfoDrop .dropdown-menu table td,
.orderDetailMain .orderDtlHeader .col.itemInfoDrop .dropdown-menu table th{
	padding: 15px;
	border-color: #E1E1E1;
}

.dataTables_wrapper .dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30%;
	height: 40px;
	margin-left: -7%;
	margin-top: -25px;
	padding-top: 20px;
	text-align: center;
	font-size: 1.2em;
	background-color: #ffff;
    opacity: 0.75;
}
.dataTables_wrapper .dataTables_processing{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    background-image: url(../img/loading-img.gif);
    background-repeat: no-repeat;
    font-size: 0;
    background-size: 80px;
    background-position: center 20%;
    z-index: 9;
}
.themeTable .table-responsive{
    position: relative;
}
.dragBox .dropzone .dz-preview.dz-image-preview {
    margin: 0;
    background: transparent;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}
.dragBox .dropzone .dz-preview .dz-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.dragBox .dropzone .dz-preview .dz-image {
    width: 100%;
    height: 100%;
}
.dragBox .dropzone .dz-preview .dz-remove{
    position: absolute;
    bottom: 20%;
    font-size: 14px;
    z-index: 99;
    width: 100%;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 5px rgb(0 0 0);
}
#myCalc .modal-body{
    background: #F3F3F3;
}
#myCalc .modal-body #standard-buttons > .col-xs-12,
#myCalc .modal-body #special-buttons > .col-md-12{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
#myCalc .modal-body #standard-buttons > .col-xs-12 > div,
#myCalc .modal-body #special-buttons > .col-md-12 > div{
    flex: 0 0 calc(25% - 10px);
    width: calc(25% - 10px);
    max-width: calc(25% - 10px);
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.46), 2px 1px 4px rgba(33, 32, 124, 0.11);
    padding-top: 0 !important;
    height: 45px !important;
}
#myCalc .modal-body #standard-buttons > .col-xs-12 #key13{
    background: #6A6A6A;
    color: #fff;
    font-size: 18px;
}
#myCalc #special-buttons,
#myCalc #standard-buttons{
    height: auto !important;
}
#myCalc .modal-body{
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 13px;
}
#myCalc #display-area #bottom{
    border: 1px solid #4C4C51;
    padding: 12px 15px;
    margin-bottom: 20px;
}
#calculator .leftcalc{
    width: 100% !important;
}
#myCalc{
    width: 362px;
    height: 300px;
    visibility: visible;
    overflow: visible;
}
#myCalc .btn-close{
    color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgEAQAAACJ4248AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAAAGAAAABgAPBrQs8AAAAHdElNRQflChcPJToogBl+AAAA/UlEQVRYw82XzQ3DIAxGTRfJgaxWhiVDREquCSP46wEllVra8GOX+mz5PZBsAxERAc4BIYCnCbCWlAKwNjJCAJyjJ5wZZyyLhgRgbax9BDPgHEWb15CVeIcfse8UryQVMhKf4QDg/UVCm0R2bfAwAPOcTlxX8DgWw7/WTBxMUqIYLilRDZeQaIa3SIjBayTE4SUSavBT4rKXdWZIwU0ow8sldJZZpkQ5/CaraAzBmE6nT7foj+EKEl3bMGfIaKzybHheboVEzXgVk2iZ7c0SEoulWkJyqxVLaKzUbInuz/I/+Jjsuxb8WmLb+n9OiYjA93u8Ce/Vv+fwPrIi/AGe8rs64r7JzAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0xMC0yM1QxNTozNzo1OCswMDowMAM2cl8AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjEtMTAtMjNUMTU6Mzc6NTgrMDA6MDBya8rjAAAAAElFTkSuQmCC);
    /* top: 50%; */
    /* transform: translate(0px, -50%); */
    margin: 0;
    box-shadow: none !important;
}
#myCalc .btn-close.btn-minimize{
    background-image: none;
}
#myCalc.themeModal .modal-content {
    width: 100%;
    border-radius: 13px;
    overflow: hidden;
    background: #313131;
}
#myCalc.themeModal .modal-header{
    padding: 0;
    border: 0;
}
#myCalc.themeModal .modal-header .modal-title{
    font-size: 12px;
    padding: 1rem 1rem;
    cursor: all-scroll;
}
#myCalc #display-area #bottom h3{
    font-size: 18px;
    margin-bottom: 0;
}
#myCalc #convertor > iframe {
    width: 100% !important;
}
#myCalc #calculator{
    display: flex;
}
#myCalc #calculator > div{
    flex: 1 1 auto;
}
#myCalc #calculator #history{
    padding-left: 10px;
}
#myCalc #calculator #history .items ul{
    padding: 0;
    list-style: none;
}
#myCalc #calculator #history .items ul li div{
    display: inline-block;
    float: none !important;
    margin: 0 !important;
}
body.myCalc .modal-backdrop.fade.show{
    display: none !important;
}
#myCalc{
    display: none !important;
}
#myCalc.show{
    display: block !important;
}
#myCalc.minimize {
    height: 50px !important;
    bottom: 0 !important;
    right: 0 !important;
    left: auto !important;
    top: auto !important;
}
#myCalc.minimize .modal-dialog{
    margin: 0;
}
#myCalc.minimize .modal-dialog .modal-content{
    border-radius: 10px 0 0px 0px;
}
#myCalc.minimize .modal-dialog .modal-body{
    display: none;
}
#myCalc.minimize .modal-title{
    pointer-events: none;
}
#myCalc .modalForm{
    width: 100%;
    max-width: 100%;
}
body.myCalc{
    overflow: visible !important;
    padding-right: 0 !important;
}
.productDsgn .productItem .productItemInner .proDtl .imgBtn .imgPt{
    padding-right: 10px;
}
.list .productDsgn .productItem{
        margin-bottom: 20px;
}
#section_data .panel-group .row{
        position: relative;
}
#section_data .panel-group .col-md-11{
    width: 100%;
    flex: 0 0 100%;
}
#section_data .panel-group .col-md-1{
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translate(0px, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
#section_data .panel-group .panel-title{
        padding: 15px;
        margin: 0;
}
#section_data .panel-group .panel-title a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}
#section_data .panel-group .panel-heading {
    background: #313131 !important;
}


@media only screen and (min-width: 992px){
	.logoWrap .mobile{
		display: none;
	}
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        line-height: 50px;
    }
    .select2-container--default .select2-selection--multiple,
    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--single .select2-selection__arrow{
        min-height: 50px;
    }
	.themeForm .form-control,
	.themeForm .form-select{
		height: 50px;
	}
	.themeForm .form-control-sm{
		height: 34px;
	}
}
@media only screen and (min-width: 1200px){
	
	.themeTable .DatatableHeader .thmSelect label{
		/* position: absolute; */
		bottom: 100%;
		margin-bottom: 5px;
		left: 0;
	}
}
@media only screen and (max-width: 1600px){
	.deshItem .item .innerItem .itemFoot .customer big, .deshItem .item .innerItem .itemFoot .employee big{
		margin-left: 1rem;
		font-size: 1.6rem;
	}
	.deshItem .item .innerItem .itemFoot .customer, .deshItem .item .innerItem .itemFoot .employee{
		font-size: 1rem;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-right: 5px;
		padding-left: 5px;
	}
	.greyBx{
		padding-right: 20px;
		padding-left: 20px;
	}
	.themeForm .form-check .form-check-input{
		margin-right: 10px;
	}
	.themeTable .DatatableHeader.extraField{
		flex-wrap: wrap;
	}
	.themeTable .DatatableHeader.extraField .pgTitle{
		flex: 0 0 100%;
		width: 100%;
		max-width: 100%;
	}
	.themeTable .DatatableHeader .searchBx input[type="text"], .thmSelect select{
		max-width: 170px;
		flex: 0 0 170px;
		width: 170px;
	}
	.productDsgn .productItem .productItemInner .proDtl .btnSt a{
		flex: 0 0 calc(50% - 10px);
		width: calc(50% - 10px);
		max-width: calc(50% - 10px);
		font-size: 14px;
		padding-right: 5px;
		padding-left: 5px;
	}
}
@media only screen and (max-width: 1199px){
	.deshItem .item {
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.deshItem .item .innerItem{
		margin-bottom: 2rem;
	}
	.themeTable .DatatableHeader{
		flex-wrap: wrap;
	}
	.themeTable .DatatableHeader .pgTitle{
		flex: 0 0 100%;
		width: 100%;
		max-width: 100%;
		margin-bottom: 15px;
	}
	.themeTable .DatatableHeader.extraField .searchBx,
	.themeTable .DatatableHeader.extraField .thmSelect,
	.themeTable .DatatableHeader.extraField .tableLength {
		margin-bottom: 15px;
	}
	.filterHeader .filterHeaderWrap{
		flex-wrap: wrap;
	}
	.filterHeader .checkboxHeadWrap{
		margin-bottom: 15px;
	}
	.productDsgn .productItem .productItemInner .proDtl .btnSt a{
		flex: 0 0 calc(50% - 5px);
		width: calc(50% - 5px);
		max-width: calc(50% - 5px);
		font-size: 14px;
	}
	.list .productDsgn .productItem .productItemInner .proDtl{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.list .numValue ul li {
		width: 100%;
		padding: 0 10px;
		flex: 0 0 100%;
	}
	.list .productDsgn .productItem .productItemInner .proDtl .imgBtn .imgPt{
		flex: 0 0 100px;
		width: 100px;
		max-width: 100px;
	}
	.list .productDsgn .productItem .productItemInner .proDtl .imgBtn .btnPt {
		flex: 0 0 calc(100% - 100px);
		width: calc(100% - 100px);
		max-width: calc(100% - 100px);
	}
	.list .productDsgn .productItem .productItemInner .proDtl .imgBtn,
	.list .productDsgn .productItem .productItemInner .proDtl .numValue{
		flex: 0 0 40%;
		max-width: 40%;
	}
	.list .productDsgn .productItem .productItemInner .proDtl .btnSt{
		flex: 0 0 20%;
		max-width: 20%;
	}
	.list .numValue ul li:last-child{
		margin-bottom: 0;
	}
	
}
@media only screen and (max-width: 991px){
	
	.logoWrap .desktop{
		display: none;
	}
	.containerWrap{
		padding-left: 80px;
	}
	.sidenav{
		width: 80px;
	}
	.sidenav.navbar-light .navbar-nav .nav-link span:not(.expander){
		display: none;
	}
	.sideAdminBox .inrWrp .notification,
	.sideAdminBox .adminTxt {
		display: none;
	}
	.sideAdminBox .adminImg,
	.sidenav.navbar-light .navbar-nav .nav-link.active img, .sidenav.navbar-light .navbar-nav .show>.nav-link img, .sidenav.navbar-light .navbar-nav .nav-link img{
		margin: 0;
	}
	.sidenav.navbar-light .navbar-nav .nav-link.active, .sidenav.navbar-light .navbar-nav .show>.nav-link, .sidenav.navbar-light .navbar-nav .nav-link{
		text-align: center;
	}
	.sidenav .logoWrap{
		padding:20px 0px;
	}
	.sideAdminBox .inrWrp .dropdown-menu{
		left: calc(100% - 15px);
		right: auto;
	}
	
	.sidenav.navbar-light .navbar-nav .nav-link .expander img{
		display: block;
		width: 10px !important;
		margin: 5px auto 0;
	}
	.deshItem .item .innerItem .mnValue {
		font-size: 4rem;
		padding-top: 1rem;
		padding-bottom: 1.5rem;
	}
	.deshItem .item .innerItem .itemFoot .customer big, .deshItem .item .innerItem .itemFoot .employee big{
		margin-left: 5px;
	}
	.calcBx img{
		max-height: 22px; 
	}
	.pageContent {
		padding-top: 50px;
	}
	.sidenav.navbar-light .navbar-nav .nav-link.active, .sidenav.navbar-light .navbar-nav .show>.nav-link, .sidenav.navbar-light .navbar-nav .nav-link{
		padding-left: 10px;
		padding-right: 10px;
	}
	.sidenav.navbar-light .navbar-nav .nav-link.active:before, .sidenav.navbar-light .navbar-nav .show>.nav-link::before, .sidenav.navbar-light .navbar-nav .nav-link::before{
		width: 4px;
	}
	.themeTable .DatatableHeader .pgTitle h1,
	.pageTtl h1 {
		font-size: 1.5rem;
	}
	.themeModal, .modal-backdrop {
		max-width: calc(100% - 80px);
	}
	.btn-group-sm.btnWhite{
		font-size: 0.75rem;
		min-width: 120px;
	}
	.themeBtn{
		height: 38px;
	}
	.themeTable .DatatableHeader .tableLength .btn {
		margin-bottom: 0;
	}
	.themeTable .DatatableHeader .tableLength{
		flex: 0 0 100%;
		margin: 0;
		justify-content: space-between;
		margin-top: 10px;
	}
	.editOrderModal .btnGreen {
		height: 35px;
	}
	.addOrderModal .btnGreen.d-inline-block{
		display: flex !important;
	}
	.list .productDsgn .productItem .productItemInner .proDtl .imgBtn {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.list .productDsgn .productItem .productItemInner .proDtl{
		flex-wrap: wrap;
	}
	.list .productDsgn .productItem .productItemInner .proDtl .numValue{
		flex: 0 0 70%;
		max-width: 70%;
	}
	.list .productDsgn .productItem .productItemInner .proDtl .btnSt {
		flex: 0 0 30%;
		max-width: 30%;
	}
}
@media only screen and (max-width: 767px){
	body{
		font-size: 14px;
	}
	.logoutBx span{
		display: none;
	}
	.deshItem .item .innerItem h6{
		padding-bottom: 0px;
		font-size: 1rem;
	}
	.greyBx {
		padding: 30px 15px;
	}
	.mb-2rem{
		margin-bottom: 1.5rem;
	}
	.pageTtl{
		margin-bottom: 30px;
	}
	.themeBtn{
		margin-bottom: 15px;
		min-width: auto;
	}
	.filterHeader .checkboxHeadWrap .themeForm {
		flex-wrap: wrap;
	}
	.filterHeader .checkboxHeadWrap .checkItem{
		flex: 0 0 50%;
		width: 50%;
		max-width: 50%;
		margin-bottom: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid #3c3c40;
		text-align: center;
	}
	.list .productDsgn .productItem .productItemInner .proDtl .numValue,
	.list .productDsgn .productItem .productItemInner .proDtl .btnSt{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.list .productDsgn .productItem .productItemInner .proDtl .btnSt a{
		margin-bottom: 0;
	}
	.list .numValue ul li{
		margin-bottom: 10px;
	}
	.themeTabHeader .productHeader{
		flex-wrap: wrap;
	}
	.themeTabHeader .productHeader .nav-tabs,
	.themeTabHeader .productHeader .sideSrch{
		flex: 0 0 100%;
	}
	.list .productDsgn .productItem .productItemInner .proDtl .btnSt{
		padding-bottom: 0%;
	}
	.list .productDsgn .productItem .productItemInner .proDtl{
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
	.list .productDsgn .productItem{
		 margin-bottom: 30px;
	}
	.orderDetailMain .orderDtlHeader > .row > .col {
		flex: 0 0 100%;
	}
	.orderDetailMain .orderDtlHeader .themeBtn{
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 580px){
	.headerInr .searchsec > form{
		display: none;
	}
	.deshItem .item .innerItem .itemFoot .customer big, .deshItem .item .innerItem .itemFoot .employee big{
		font-size: 1.2rem;
	}
	.deshItem .item .innerItem .itemFoot .customer, .deshItem .item .innerItem .itemFoot .employee{
		font-size: 0.8rem;
	}
	.themeTable .DatatableHeader .tableLength span{
		display: none;
	}
	.themeTable .DatatableHeader .searchBx input[type="text"]{
		width: 160px;
		max-width: 160px;
		height: 40px;
		padding-left: 30px;
		background-position: 8px center;
	}
	.themeTable .DatatableHeader .tableLength select{
		height: 40px;
	}
	.themeTable .dataTables_wrapper .dataTables_info{
		flex: 0 0 100%;
		width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}
	
	.themeTable .DatatableHeader.extraField .searchBx,
	.themeTable .DatatableHeader.extraField .thmSelect{
		flex: 0 0 100%;
		width: 100%;
		margin-right: 0 !important;
		margin-left: 0 !important;
		max-width: 100%;
	}
	.themeTable .DatatableHeader .searchBx input[type="text"], 
	.thmSelect select,
	.themeTable .DatatableHeader .tableLength .btn{
		max-width: 100%;
		flex: 0 0 100%;
		width: 100%;
	}
	.themeTable .DatatableHeader .tableLength .btn{
		margin-bottom: 10px;
	}
	.themeTable .DatatableHeader .tableLength.multiBtn{
		flex-wrap: wrap;
	}
	
	.filterHeader .checkboxHeadWrap .checkItem{
		flex: 0 0 100%;
		width: 100%;
		max-width: 100%;
	}
	.themeTable .dataTables_wrapper {
		/* justify-content: center; */
	}
	.orderDetailMain{
		padding-right: 2px;
		padding-left: 2px;
	}
}
@media only screen and (max-width: 360px){
	
	.themeTable .DatatableHeader .searchBx input[type="text"]{
		width: 130px;
		max-width: 130px;
	}
}
.modal-footer {
	border-top: none !important;
}
.themeBtn.grayRevisedBtn{
	color:  #313131;
	background:  #F2F2F2;
	border-color:  #313131;
}
.themeBtn.grayRevisedBtn:hover{
	color:  #313131;
	background:  #F2F2F2;
	border-color:  #313131;
}
.help-block
{
	color:red;
}
.dataActionBtn.btnGreen{
    background: #008000;
}
.dataActionBtn.complete{
	color:#ffffff;
	padding: .375rem .75rem;
	background:#2474A1;
}