.dropzone {
	border-radius: 13px;
	padding:0px;
border-style: dotted;
	
}
.dz-image img {
height: 80px;
}
.newfileSec
{
	display:none;
	display:inline-flex;
}
 .dz-remove,.dz-error-mark,.dz-success-mark
{
	display:none;
}
