


@media only screen and (min-width:768px){
    
}
@media only screen and (max-width:1800px){
}
@media only screen and (max-width:1600px){

}
@media only screen and (max-width:1400px){
}
@media only screen and (max-width:1320px){
    
}
@media only screen and (max-width:1280px){
    
}
@media only screen and (max-width:1199px){
    .headingbanner {
        padding: 60px 0;    
    }
    .headingbanner h1 {
        font-size: 25px;
    }
    .accessItmWrap .item {
        flex: 0 0 33.3333%;
    }
}
@media only screen and (max-width:991px){
    
    .dashboard .mainCont .contentPart{
        padding:15px;
    }
    footer .footInnewap {
        flex-wrap: wrap;
    }
    footer .footInnewap .item {
        flex: 0 0 33.333%;
        margin-bottom: 20px;
    }
    footer .footInnewap .item h4 {
        margin-bottom: 10px;
    }
    .accessItmWrap .item {
        flex: 0 0 50%;
    }
    .accessItmWrap .item .innerItem .itemHead h3{
        font-size: 20px;
    }
    .Sectitle .section_title .title_two {
        font-size: 32px;
    }
}

@media only screen and (max-width:991px) and (max-width:768px) {
   
}
@media only screen and (max-width:767px){
    .dashboard .mainCont {
        padding-left: 0;
    }
    .dashboard .mainCont .header a.menutoggler{
        transition: margin 0.4s ease;
        margin-left: 250px;
    }
    .dashboard.closeMenu .mainCont .header a.menutoggler{
        margin-left: 0px;
    }
    footer .footInnewap .item {
        flex: 0 0 50%;
    }
    .innerSiteCont .content-part,
    .innerSiteCont .sidebar-part{
        width: 100%;
    }
    .theamHeader .navbar-nav>li {
        display: block;
        text-align: left;
    }
    .theamHeader .navbar-nav {
        margin-right: 0;
        margin-left: 0;
    }
    .theamHeader .navbar-nav>li.dropdown .dropdown-menu li a {
        color: #f1f1f1;
    }
    .theamHeader .navbar-nav>li.dropdown .dropdown-menu li a:hover{
        color: #ccc;
    }
    .theamHeader .navbar-default .navbar-toggle .icon-bar{
        background-color: #fff;
    }
    .theamHeader .navbar-default .navbar-toggle:hover,
    .theamHeader .navbar-default .navbar-toggle:focus,
    .theamHeader .navbar-default .navbar-toggle:active {
        background: #1f5f98;
    }
    .theamHeader .headTopin .locInfo .item span:not(.ico){
        display: none;;
    }
    .theamHeader .navbar-brand>img {
        max-width: 170px;
    }
    .theamHeader .headTopin .locInfo .item{
        padding-left: 15px;    margin-left: 10px;
    }
    .banner .owl-theme .slideTitle h3{
        font-size: 18px;
    }
    .detailW .blogdtl h1{
        font-size: 25px;
    }
    .headingbanner {
        padding: 40px 0;    
    }
    .headingbanner h1 {
        font-size: 25px;
    }
    .courseDetailHeader h1{
        font-size: 30px;
        margin-top: 0;
    }
    .joinSec .joinWrp {
        flex-wrap: wrap;
    }
    .joinSec .joinWrp .item { 
        flex: 0 0 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .testimonial-theme .item .content {
        padding: 15px 15px 35px;
    }
    .Sectitle .section_title .title_two {
        font-size: 30px;
    }
    .faq h2 {
        font-size: 25px;
    }
    .theamHeader .navbar-nav>li.megamenu h4{
        color: #ffffff;
    }
    .theamHeader .navbar-nav>li.megamenu .dropdown-menu > div{
        flex: 0 0 100%;
    }
}
@media only screen and (max-width:640px){

}
@media only screen and (max-width:560px){
    
    .detailW .blogdtl h1{
        font-size: 20px;
    }
}
@media only screen and (max-width:480px){
   
    footer .footInnewap .item {
        flex: 0 0 100%;
    }
    .allPosts .item {
        flex: 0 0 100%;
    }
    .banner .owl-theme .slideTitle h3{
        font-size: 16px;
    }
    .banner .owl-theme .slideTitle {
        padding: 5px 20px;
    }
    .accessItmWrap .item {
        flex: 0 0 100%;
    }
}