
body {
    color: #666;
    font-size: 14px;
    font-family: "Work Sans", Arial, sans-serif;
    line-height: 1.6;
    background: #fff;
    word-wrap: break-word;
	overflow-x: hidden;
}
.scrolls {
    overflow-y: auto;
    height: 350px;
    white-space:nowrap;
}

.categorySideNav .navbaru .right-arrow:after {
  content: ' \00BB';
}

a {
    transition: 0.5s;
    color: #0066cc;
    text-decoration: none;
}
.overflowhidden {
    overflow: hidden;
}

  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  .rating-group {
    display: inline-flex;
  }

 .dataTables_filter, .dataTables_info { display: none; }

  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }
  
  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }
  
  /* hide 'none' input from screenreaders */
  .rating__input--none {
    display: none
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 25px;
  }
  
  /* set default star color */
  .rating__icon--star {
    color: #ffe400;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
  
  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star {
    color: #ffe400;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

.rating .star i{

    font-size: 30px;

}
.ratingdis .filled{

    color: #ffe400;

}

.ratingdis .unfilled{

    color: #838383;

}
.rating ul{

    list-style: none;

    margin: 0 0 20px;

    padding: 0;

}

.rating ul li{

    display: inline-block;

    color: #ad9700;

}

/*This is my youtube channel link*/

.site-header .extras-menu > li .extra-icon {
    font-size: 30px;
    line-height: 1;
}
.ccTlNav{
    flex-wrap: wrap;
}
.flex100 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.dropdown-toggle::after{
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 linearicons;
    padding-left: 5px;
    position: absolute;
	top:26px !important; 
    /* right: 0; */
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #606060;
    border: none;
}
.ccTlNav .topStrp.nvright{
    margin-left: auto;
    width: auto;
    margin-right: 0;
}
.navbar-expand-lg.ccTlNav .navbar-nav > li > a.dropdown-toggle{
    padding-right: 22px;
}
.ccTlNav{
    padding: 0;
}
.ccTlNav .topStrp{
    border-bottom: 1px solid #ededed;
}
.navbar-expand-lg.ccTlNav .topStrp li a {
    font-size: 12px;
    position: relative;
    /* padding-right: 20px; */
    padding-left: 20px;
}
.navbar-expand-lg.ccTlNav .topStrp li a {
    
}
.ccTlNav .topStrp li a::before{
    background-color: #e1e1e1;
    width: 2px;
    height: 14px;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.ccTlNav .topStrp .nvright li a{
    padding-left: 20px;
}
.ccTlNav .topStrp .nvright li a::before{
    left: 0;
}
.ccTlNav .navbar-brand img{
    width: 100%;
    max-width: 200px;
    padding-left: 20px;
}
.navSearch{
    display: flex;
    width: 512px;
    max-width: 48%;
}
.navSearch input[type="search"]{
    height: 42px;
    line-height: 1;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    width: 100%;
    border: 1px solid #eee;
    color: black;
    background: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 0;
}
.navSearch button[type="submit"]{
    height: 42px;
    line-height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 100px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    font-weight: 700;
    border-radius: 0 5px 5px 0;
    white-space: nowrap;
    background-image: radial-gradient(at bottom right, #FA8F04 0%, #C67640 100%);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FF9F2B;
    color: #fff;
}
.essnIcon ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.essnIcon ul li{
    padding: 0 9px;
}
.essnIcon ul li .essLink{
    text-decoration: none;
    color: #000;
    position: relative;
    display: block;
}
.essnIcon ul li .extra-icon{
    font-size: 25px;
    line-height: 1;
}
.essnIcon ul li .essLink .count{
    right: -5px;
    position: absolute;
    bottom: -3px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50%;
    min-width: 18px;
    padding: 0 5px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    background: #FF9F2B;
    color: #fff;
}
.icoWithText{
    padding-left: 35px;
}
.icoWithText > i{
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    left: 0;
}
.icoWithText > a{
    display: block;
    line-height: 16px;
    font-weight: 700;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    font-size: 14px;
    color: #000;
}
.ccTlNav .middleStrp{
  /* padding-top: 20px; */
    /* padding-bottom: 20px; */
	background-color: #ffddb3;
}
.ccTlNav .botStrp{
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.ccTlNav .botStrp .navbar-collapse .navbar-nav > li > a{
    padding-top: 15px;
    padding-bottom: 15px;
}
.shop-view{
    float: right;
    display: flex;
    align-items: center;
    min-height: 51px;
    color: #000;
}
.mf-shop-view{
    margin-left: 15px;
    font-size: 24px;
    color: #999;
    line-height: 1;
    /* margin-top: 3px; */
    display: block;
}
.mf-shop-view.current{
    color: #000;
}
.productFilterHead{
    background-color: #f5f5f5;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.productFilterHead .rightAccess{
    display: flex;
    align-items: center;
}
.productFilterHead .rightAccess .selectbx{
    margin-right: 20px;
}
.productFilterHead .rightAccess .selectbx .form-control{
    min-width: 270px;
    display: inline-block;
    cursor: pointer;
    min-height: 33px;
    line-height: 33px;
    border: 1px solid #b8b8b8;
    background-color: #fff;
    padding: 0 25px 0 15px;
}
.pageContent {
    padding: 0;
    padding-bottom: 0;
}
.productItemWrap .item .itemInnter{
    padding: 20px;
    border: 1px solid transparent;
    margin-bottom: 20px;
}
.productItemWrap .item .itemInnter .mf-product-thumbnail{
    display: block;
    position: relative;
    overflow: hidden;
	background: #ffddb3;
	border-radius: 10px;
    border: 2px solid #ffc680;
}
.productItemWrap .item .itemInnter .mf-product-thumbnail a.thumbNail img{
    width: 100%;
}
.productItemWrap .item .itemInnter .mf-product-thumbnail a.thumbNail span{
    background: #f14705;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 27px;
    line-height: 27px;
    border-radius: 3px;
    padding: 0 13px;
    min-width: inherit;
    min-height: inherit;
}
.productItemWrap .item .itemInnter .mf-product-thumbnail .footer-button{
    position: absolute;
    background: #ffc680;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.4s all ease;
    bottom: auto;
    top: 100%;
}
.productItemWrap .item .itemInnter:hover .mf-product-thumbnail .footer-button{
    top: calc(100% - 54px);
}
.productItemWrap .item .itemInnter .mf-product-thumbnail .footer-button a{
    text-align: center;
    color: #000;
    width: 34px;
    height: 34px;
    line-height: 34px;
    margin: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
}
.productItemWrap .item .itemInnter .mf-product-thumbnail .footer-button a:hover{
    background-color: #28afb1;
    color: #fff;
}
.productItemWrap .item .itemInnter .mf-product-thumbnail .footer-button .viewIcoWrap{
    margin-right: 10px;
}
.productItemWrap .item .itemInnter .product-content .sold-by-meta{
    display: block;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 8px;
    margin-bottom: 13px;
    line-height: 1.2;
    font-size: 12px;
    color: #000;
    padding-top: 12px;
}
.productItemWrap .item .itemInnter .product-content h2{
    margin: 0;
    font-weight: 400;
    padding: 0 0 5px;
    font-size: 14px;
    line-height: 1.3;
}
.productItemWrap .item .itemInnter .product-content h2 a{
    color: #000;
}
.productItemWrap .item .itemInnter .mf-product-price-box .price ins{
    text-decoration: none;
    display: inline-block;
    color: #ff3300;
    font-size: 16px;
    font-weight: 400;
}
.productItemWrap .item .itemInnter .mf-product-price-box .price del{
    display: inline-block;
    padding-left: 5px;
    opacity: 1;
    color: #999;
    font-size: 14px;
}
.productItemWrap .item .itemInnter .mf-product-price-box .footer-button a{
    color: black ;
    border: 1px solid #d3a66b ;
    background: white ;
    box-shadow: none;
    text-shadow: none;
    overflow: visible;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    margin-top: 1em;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.productItemWrap .item .itemInnter .mf-product-price-box .footer-button a:hover{
    background: #d3a66b ;
    color: #000;
}
.productItemWrap .item .itemInnter:hover{
    border-color: #d3a66b ;
}
.pagination .page-numbers{
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    margin: 1px;
    list-style: none;
}
.pagination .page-numbers li{
    border-right: 1px solid #d3ced2;
    border-right-width: 0;
    margin: 0 0 10px;
    padding: 0 5px;
    list-style: none;
    display: inline-block;
    overflow: hidden;
}
.pagination .page-numbers li .page-numbers{
    font-size: 14px;
    text-align: center;
    padding: 0 12px;
    height: 32px;
    line-height: 32px;
    display: block;
    min-width: 34px;
    margin: 0;
    text-decoration: none;
 /*   background: #ebe9eb;
    color: #8a7e88; */
}
.pagination .page-numbers li .page-numbers:hover,
.pagination .page-numbers li .page-numbers.current{
   /* background-color: #28afb1;
    color: #fff;*/
}
.pagination {
    text-align: center;
    width: 100%;
    justify-content: center;
}
.subscribeBx{
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: #ffddb3;
    border-bottom:1px solid #fdf6c8;
	
}
.subscribeBx .textSd h3{
    font-weight: 600;
    margin: 0 0 5px;
    font-size: 24px;
}
.subscribeBx > .container > .row{
    align-items: center;
}
.subscribeWrap {
    display: flex;
    align-items: flex-end;
}
.subscribeWrap input[type="email"]{
    border: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    border-radius: 4px 0 0 4px;
    width: 100%;
    background-color: #fff;
}
.subscribeWrap input[type="submit"]{
    background-color: #28afb1;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    transition: all 0.5s;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: none;
    min-width: 170px;
    border-radius: 0 4px 4px 0;
}
footer{
    background-color: #ffc680;
}
.footSocial{
    display: flex;
    flex-wrap: wrap;
    text-indent: 0;
    margin: 0;
    padding: 0;
    font-size: 24px;
    list-style: none;
    margin-bottom: 30px;
}
.footSocial li{
    margin-right: 8px;
}
.footSocial li a{
    display: block;
    line-height: 0;
    transition: transform .1s ease;
    text-decoration: none;
    border-bottom: 0;
    box-shadow: none;
    padding: .25em;
    fill: currentColor;
    color: #666;
    position: relative;
    background-color: #333;
    border-radius: 50%;
    transform: scale(1);
}
.footSocial li:hover a{
    transform: scale(1.05);
}
.footSocial li a svg{
    color: #fff;
    fill: #fff;
}

.footSocial li.linkFacebook a{
    background-color: #1778f2;
}
.footSocial li.linkInstagram a{
    background-color: #f00075;
}
.footSocial li.linkPinterest a{
    background-color: #e60122;
}
.footSocial li.linkYoutube a{
    background-color: #ff0000;
}
footer .footBot{
    padding-top: 35px;
    padding-bottom: 35px;
}
footer .footBot p{
    margin: 0;
}
footer .footTop{
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
    position: relative;
    border-bottom: 1px solid #e1e1e1;
}
footer .footTop .footCol {
    max-width: 30%;
    width: auto;
}
footer .footTop .footCol h4{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
}
footer .footTop .footCol ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
footer .footTop .footCol ul li a{
    color: #666;
    font-size: 15px !important;
}
footer .footTop > .row{
    justify-content: flex-start;
    justify-content: space-between;
}
footer .footTop .fotLogo {
    margin-bottom: 40px;
}
footer .footTop .fotLogo a img{
    max-width: 165px;
}
footer .footTop .footoFour img{
    max-width: 100%;
}
footer .footTop .footoFour .footSocial{
    margin-bottom: 30px;
}
.ccTlNav .botStrp .navbar-collapse .navbar-nav > li > a{
    position: relative;
}
.ccTlNav .botStrp .navbar-collapse .navbar-nav > li > a:hover{
   color: #FF9F2B;
}
 .ccTlNav .botStrp .navbar-collapse .navbar-nav > li > .dropdown > a:hover{
   color: #FF9F2B;
}
.ccTlNav .botStrp .navbar-collapse .navbar-nav .dropdown-menu > li > a:hover{
   color: #FF9F2B;
}
.ccTlNav .navbar-collapse ul.navbar-nav .dropdown-menu.megamenu .row{
    padding: 25px 30px 10px;
}
.ccTlNav .botStrp .navbar-collapse .navbar-nav > li > a::before{
    content: "";
    position: absolute;
    top: 120%;
    left: calc(50% - 5px);
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    background-color: #fff;
    z-index: -1;
    padding: 0;
    margin: 11px -7px 0 0;
    transition: top 0.3s ease 0s, opacity 0.1s;
    opacity: 0;
}
.ccTlNav .botStrp .navbar-collapse .navbar-nav > li.dropdown > a.show::before,
.ccTlNav .botStrp .navbar-collapse .navbar-nav > li.dropdown:hover > a::before{
    top: calc(100% - 16px);
    opacity: 1;
    z-index: 9999;
}
.ccTlNav .navbar-collapse ul.navbar-nav .dropdown-menu.megamenu li{
    /* padding-left: 0 ; */
    padding-right: 12px;
    padding-left: 12px;
}
.ccTlNav .navbar-collapse ul.navbar-nav .dropdown-menu.megamenu a{
    color: #000;

}
.ccTlNav .navbar-collapse ul.navbar-nav .dropdown-menu.megamenu a:hover{
    color: #FF9F2B;

}
.ccTlNav .navbar-collapse ul.navbar-nav .dropdown-menu.megamenu .title{
    margin: 0;
    padding: 0 0 7px;
    font-weight: 600;
    font-size: 15px;
}
.ccTlNav .navbar-collapse ul.navbar-nav .dropdown-menu.megamenu .list-unstyled{
    padding-top: 10px;
    padding-bottom: 10px;
}
select.form-control{
    background-image: url('../img/angle-arrow-down.png');
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: 96% center;
}
footer {
    padding-right: 15px;
    padding-left: 15px;
}
.weight400{
    font-weight: 400;
}
.weight500{
    font-weight: 500;
}
.weight600{
    font-weight: 600;
}
.font16{
    font-size: 16px;
}
.cartWrap table tr td{
    /* padding:30px 12px; */
    font-size: 16px;
}
.cartWrap .prod {
    display: flex;
    align-items: center;
}
.cartWrap .prod .img img{
    max-width: 100px;
    margin-right: 20px;
}
.qty-box {
    border: 1px solid #ccc;
    line-height: 30px;
    position: relative;
    width: 70px;
    display: flex;
}
.qty-box input{
    border-color: transparent;
    text-align: center;
    width: 30px;
    margin: 0;
    border: 0;
    outline: 0;
}
.qty-box input:focus-visible{
    outline: 0;
}
.qty-box input[type=number]::-webkit-inner-spin-button, 
.qty-box input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.qty-box > span{
    width: 30px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
.btnBackTo{
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    transition: all 0.5s;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: none;
    display: inline-block;
    background-color: #f3640c;
    color: #fff;
    border-radius: 0;
}
.btnBackTo i{
    display: inline-block;
    transform: translateY(2px);
    padding-right: 10px;
}
.btnBackTo:hover{
	color:#f3640c;
	border: 2px solid #f3640c;
	background-color: #ffffff;
}

.themeForm .form-control{
    border: 1px solid #ccc;
    color: #000;
    height: 50px;
    font-size: 14px;
    border-radius: 0;
}
.themeForm textarea.form-control{
    min-height: 100px;
}
.cartDetails .item h3,
.checkout h3{
    font-size: 20px;
    color: #000;
    position: relative;
    margin-bottom: 40px;
}
.cartTotal {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 0;
    padding: 20px 30px;
    font-size: 16px;
}
.cartTotal .ttlHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
    
}
.cartTotal .ttlHeader h4{
    color: #000;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
}
.cartTotal .ttlHeader .prcOne{
    color: #000;
}
.cartTotal .ttlFn{
    display: flex;
    justify-content: space-between;
}
.cartTotal .ttlFn h4{ 
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.cartTotal .ttlFn .prc{
    text-align: right;
    max-width: 150px;
}
.red{
    color: #ff0000;
}
.black{
	color:#000000;
}
.w100p{
    width: 100%;
}
.totalBar{
    padding-top: 1rem;
}
.ttlFn + hr{
    margin-top: 0;
}
.greyHeading {
    padding: 20px 25px;
    background-color: #f1f1f1;
    color: #000;
    font-size: 14px;
    margin-bottom: 2rem;
}
.pageTitle {
    padding-bottom: 15px;
}
.pageTitle h1{
    color: #000;
}
.headBanner {
    background-image: url('../img/private-policy.jpg');
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 10px 10px 10px 10px;
    border-color: #d3a66b;
    box-shadow: 10px 12px 10px 0px rgb(0 0 0 / 42%);
    margin-bottom: 60px;
    text-align: center;
    min-height: 300px;
    color: #000;
    background-repeat: no-repeat;
    background-size: cover;
}
.biggerText {
    font-size: 20px;
}
.biggerText p{
    margin-bottom: 20px;
}
.policyGrey {
    background-color: #f6f6f6;
    padding-top: 50px;
    padding-top: 50px;
}
.processBox {
    font-size: 17px;
    position: relative;
    /* margin-top: 30px; */
    padding-top: 0px;
    padding-bottom: 30px;
}
.processBox .imgSide img{
    max-width: 100%;
}
.processBox .imgSide{
    padding-left: 70px;
    padding-right: 15px;
}
.processBox .textSide{
    padding-right: 70px;
    padding-left: 15px;
}
.processBox.imgLeft .textSide{
    padding-left: 70px;
    padding-right: 15px;
}
.processBox.imgLeft .imgSide{
    padding-right: 70px;
    padding-left: 15px;
}
.processBox .numCount::after {
    content: "";
    width: 2px;
    height: 100%;
    background-color: #28afb1;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}
.processBox .numCount .numSelf{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-size: 48px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #28afb1;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sqList{
    list-style-type: square;
    padding-left: 20px;
}
.processBox .row{
    align-items: center;
}
.processBox.lastItem .numCount::after{
    height: 50%;
}
.processBox.lastItem .numCount .numSelf{
    top: 50%;
    transform: translate(-50%, -50%);
}
.bigger150{
    font-size: 150% !important;
}
.bigger120{
    font-size: 120% !important;
}
.col000{
    color: #000;
}
.bgBlueLight {
    background-color: #FAFAFA;
}
.fontBlue{
    color: #0099cc;
}
.fontGreen{
    color: #8bc500;
}
.btnThemeShap{
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
}
.themeBtnBlue {
    background: #17a2b8;
    color: #fff;
}
.themeBtnBlue:hover{
    background: #000;
    color: #fff;
}
.productDetails .img{
    width: 100%;
    height: 450px;
    overflow: hidden;
}
.productDetails .img img{
    object-fit: contain;
    width: 100%;
    height: 450px;
}
.productDetails h1{
    font-size: 24px;
    color: #000;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0;
}
.productDetails .midCont .price{
    padding-right: 8px;
    padding-left: 0;
    color: #000;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1;
}
.productDetails .mf-features-text{
    background-color: #f4f4f4;
    padding: 25px;
}
.productDetails .mf-features-text p:last-child{
    margin: 0;
}
.productDetails .actWrap{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.productDetails .actWrap > *{
    margin-right: 15px;
}
.social-links {
    margin-top: 15px;
}
.social-links a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #1b4e9b;
    margin: 0 5px 10px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
}
.social-links a:first-child{
    margin-left: 0;
}
.social-links a.share-twitter{
    background-color: #00aeef;
}
.social-links a.share-pinterest{
    background-color: #c8232c;
}
.social-links a.share-whatsapp{
    background-color: #25d366;
}
.productFilterHead.listVw + .productItemWrap .item{
    flex: 0 0 100%;
}
.productFilterHead.listVw + .productItemWrap .item .itemInnter{
    display: flex;
}
.productFilterHead.listVw + .productItemWrap .item .itemInnter .mf-product-thumbnail{
    margin-right: 15px;
    width: 200px;
    flex: 0 0 200px;
}
.productFilterHead.listVw + .productItemWrap .item .itemInnter .mf-product-thumbnail .thumbNail img{
    height: 160px;
    object-fit: contain;
}
.productFilterHead.listVw + .productItemWrap .item .itemInnter .mf-product-details{
    flex: 0 0 calc(100% - 215px);
    display: flex;
    justify-content: space-between;
}
.productFilterHead.listVw + .productItemWrap .item .itemInnter .mf-product-details .sold-by-meta{
    padding-top: 0;
}
.productFilterHead.listVw + .productItemWrap .item .itemInnter .mf-product-details h2{
    font-size: 18px;
    font-weight: 500;
}
.productFilterHead.listVw + .productItemWrap .item .itemInnter .mf-product-details .sold-by-meta h2{
    font-size: 18px;
    font-weight: 500;
}

/* filter start*/
.filterBar .filterInner .sideSec{
    background-color: #f5f5f5;
    padding: 25px 20px;
    /* margin-bottom: 0; */
    position: relative;
}
.filterBar .filterInner .sideSec.borderBot::after{
    content: "";
    border-bottom: 1px solid #d8d8d8;
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
    left: 20px;
}
.filterBar .filterInner .sideSec h4{
    margin-bottom: 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}
.filterBar .filterInner .sideSec .tags{
    margin-left: -10px;
    margin-right: -10px;
}
.filterBar .filterInner .sideSec .tags a{
    display: inline-block;
    color: #fcb800;
    font-weight: 600;
    padding: 5px 10px;
}
.filterBar .filterInner .sideSec .tags a i{
    color:#000;
    font-weight: 400;
}
.filterBar .filterInner .sideSec .tags a i.timesIco::before{
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 linearicons;
    font-size: 12px;
    color: #000;
}
.filterBar .filterInner .sideSec .catego ul{
    padding: 0;
    list-style: none;
}
.filterBar .filterInner .sideSec .catego .angleArrowLeft::before{
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 linearicons;
    font-size: 12px;
    margin-right: 5px;
}
.filterBar .filterInner .sideSec .catego ul li{
    padding: 5px 0;
}
.filterBar .filterInner .sideSec .catego ul a{
    font-weight: 600;
    color: #000;
}
.filterBar .filterInner .sideSec .catego > a {
    color: #fcb800;
}
.mb-c-30{
    margin-bottom: 30px;
}
.ui-state-default, 
.ui-widget-content .ui-state-default{
    left: 10%;
    background-color: #e6e6e6;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: -8px;
}
.ui-widget.ui-widget-content{
    height: 1px;
    top: 5px;
    margin-bottom: 20px;
}
.filterBar .filterInner .sideSec .filtr input{
    background: transparent;
    border: 0;
    display: inline;
    width: 30px;
    text-align: center;
    outline: 0;
}
.brandSearch {
    position: relative;
    margin-bottom: 20px;
    margin-top: 5px;
}
.brandSearch input{
    width: 100%;
    border-color: #d1d1d1;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    border: 1px solid #d9d9d9;
    background: #fff;
}
.brandSearch::after{
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 linearicons;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 15px;
    color: #000;
}
.brandSec .multiCheck ul{
    padding: 0;
    list-style: none;
    margin: 0;
}
.brandSec .multiCheck ul li{
    padding: 7px 0;
}
.brandSec .form-check-input[type=checkbox]{
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 0;
}
.brandSec .form-check-input[type=checkbox]:focus{
    box-shadow: none;
}
.brandSec .form-check-input:checked{
    border-color: #fcb800;
    background-image: url('../img/download-orange-2.svg');
}
.brandSec .form-check-input:checked + label{
    color: #fcb800;
}
.brandSec label{
    font-weight: 600;
}
.categorySideNav .navbaru {
    align-items: flex-start;
}
.categorySideNav .navbaru li{
    width: 100%;
    flex: 0 0 100%;
}
.categorySideNav .navbaru li.dropdown .dropdown-menu{
    position: static !important;
    transform: translate(0px, 0px) !important;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    border-color: transparent;
    padding-left: 15px;
}
.col-md-9.contentBar > .productItemWrap .item .itemInnter {
    padding-right: 15px;
    padding-left: 15px;
}
.categorySideNav .navbaru li a{
    color: #000000;
}
.categorySideNav .navbaru li.dropdown > a {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.brandSearch.height47 input{
    height: 47px;
}
.categorySideNav .navbaru li > a{
    padding-left: 0;
}
/* filter end  */

.slick-prev,
.slick-next{
    font-family: 'Linearicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 50%;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #333;
    z-index: 99;
}
.slick-prev::before,
.slick-next:before{
    content: "\e93b";
    font-size: 20px;
    
    font-family: 'Linearicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    /* position: absolute;
    top: 50%;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%); */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #333;
    z-index: 99;
    transform: none;
    opacity: 1;
}
.slick-next:before{
    content: "\e93c";
}
.input-icon-pencil{
    background:#fff url(../img/pencil.jpg) no-repeat 10px center;
    padding-left: 40px;
}
.lineStyle{
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.profilePt .innerProt{
    background-color: #2f2f2f;
    height: 130px;
    position: relative;
    margin-top: 100px;
}
.profilePt .innerProt .imgbx{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 6px 0 #ccc;
    position: absolute;
    top: -100px;
    left: 5%;
	z-index:9
}
.profilePt .innerProt .imgbx img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.elite img{
	 width: 100%;
    height: 130px;

}

.themeProf{
    transition: all 0.2s linear;
    outline: none;
    text-decoration: none;
    min-width: 50px;
    width: auto;
    padding: 0 15px;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    background: #17a2b8;
    color: #ffffff;
}
.themeProf:hover{
    background: #000000;
    color: #fff;
}
.profilePt{
    position: relative;
}
.profilePt .themeProf{
    position: absolute;
    right: 15px;
    top: 50px;
} 
.profilePt .innerProt h2{
    position: absolute;
    left: 20%;
    font-size: 22px;
    top: 10px;
    color: #fff;
}
.starRater{
    font-size: 12px;
    display: block;
    margin-top: 5px;
}
.starRater .active{
    color: #fcb800;
}

/* home page start */
*{
    box-sizing: border-box;
}
.pageContent.frontPage{
    padding-top: 0;
}

.brandSecInr{
    display: flex;
}
.brandSecInr .item{
    position: relative;
}
.brandSecInr .item .brndDtl{
    position: absolute;
    top: 0;
    padding: 25px 30px 25px 30px;
    width: 100%;
}
.brandSecInr .item .brndDtl h2{
    color: #FFFFFFBD;
    font-size: 16px;
    font-weight: 400;
}
.brandSecInr .item .brndDtl h2 strong{
    display: block;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}
.brandSecInr .item .brndDtl .price{
    font-size: 16px;
    color: #FFFFFFB8;
    margin-bottom: 8px;
}
.brandSecInr .item .brndDtl .price span{
    color: #fff;
}
.brandSecInr .item > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brandBtn{
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-width: 1px;
    border-radius: 0px;
    background-color: #FFFFFF00;
    border-color: #FFFFFF;
    color: #fff;
}
.brandBtn:hover{
    background-color: rgb(255 255 255 / 30%);
}
.brandBtn.brandFilled{
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.brandBtn.brandFilled:hover{
    border-color: rgb(0 0 0 / 30%);
    background-color: rgb(0 0 0 / 30%);
    color: #fff;
}
.brandSecInr .item + .item:not(.brd-col-1-3){
    margin-top: 20px;
} 
.brandSecInr .item + .item.brd-col-1-3{
    margin-left: 20px;
} 
.brandSecInr .item.brd-col-2{
    height: calc(50% - 10px);
}
.brandSecInr .item.ito-wrap-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.homeBannerSec{
    width: 100%;
    overflow: hidden;
    margin-bottom: 35px;
}
.brandSecInr .item.textBlack .brndDtl h2,
.brandSecInr .item.textBlack .brndDtl .price{
    color: #2D2D2DBD;
}
.brandSecInr .item.textBlack .brndDtl h2 strong{
    color: #000;
}
.brandSecInr .item.textBlack .brndDtl .price span{
    color: #9e0b0f;
}
.brandSecInr .item.textBlack .brndDtl .brandBtn{
    color:#9E0B0F;
    border-color: #9E0B0F;
}
.section {
    margin-bottom: 65px;
}
.sectionTtl{
    text-align: center;   
    margin-bottom: 25px;
}
.sectionTtl h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #000;
}
.partner{
    position: relative;
}
.partnerContent{
    position: absolute;
    width: 100%;
    left: auto;
    right: auto;
    margin: 0 auto;
    top: 50%;
    transform: translate(0px, -50%);
}
.partnerContent .innerPtnr{
    width: 100%;
    max-width: 500px;
    padding: 15px;
    text-align: center;
}
.partnerContent .innerPtnr h4{
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 21px;
    font-weight: 400;
}
.partnerContent .innerPtnr h2{
    color: #FFFFFF;
    font-family: "Satisfy", Sans-serif;
    font-size: 55px;
    font-weight: 500;
}
.partner > img{
    width: 100%;
    min-height: 350px;
    object-fit: cover;
}
.categorySec .catSecInr{
    display: flex;
    flex-wrap: wrap;
}
.categorySec .catSecInr .item {
    flex: 0 0 20%;
    width: 20%;
    max-width: 20%;
    padding: 10px;
}
.categorySec .catSecInr .item .iteminr{
    width: 100%;
    /*border: 1px solid #E8E8E8;*/
    border-radius: 8px;
    overflow: hidden;
    transform: scale(1);
    transition: all 0.1s ease;
	background: #ffddb3;
}
.categorySec .catSecInr .item:hover .iteminr{
    transform: scale(1.1);
}
.categorySec .catSecInr .item .iteminr img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.categorySec{
    background-color: #FAFAFA;
    padding-top: 35px;
    padding-bottom: 35px;
}
.offerSec{
    padding-top: 35px;
    padding-bottom: 35px;
}
.offerSec img{
    border-radius: 8px;
    overflow: hidden;
}
.offerSec a:hover img{
   filter: brightness( 100% ) contrast( 83% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}
.nwlyAdded{
    display: flex;
    flex-wrap: wrap;
}
.nwlyAdded .item{
    width: 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.clentSec{
    border-bottom: 1px solid #FAFAFA;
}
.clentSec .slick-prev{
    left: 10px;
}
.clentSec .slick-next{
    right: 10px;
}
.achieveSec .achivBox{
    display: flex;
    width: 100%;
    padding: 20px 30px 20px 30px;
    background-color: #FBFBFB;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #D6D6D6;
    border-radius: 0px 0px 0px 0px;
}
.achieveSec .achivBox .item{
    width: 20%;
    display: flex;
    padding: 10px;
    align-items: center;
}
.achieveSec .achivBox .item .icon{
    font-size: 35px;
    padding-right: 20px;
    color: #FCB800;
}
.achieveSec .achivBox .item .cont h5{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin: 0 0 5px 0;
}
.achieveSec .achivBox .item .cont p{
    margin: 0;
    line-height: 1.1;
}
.offerSec a img{
    width: 100%;
}
 .clentSec .item{
    text-align: center;
 }
 .clentSec .item img{
    display: inline-block;
 }
 .slick-prev{
    left: 10px;
 }
 .slick-next{
     right: 10px;
 }
/* home page end */



@media only screen and (min-width:992px){
    
    .mobShow{
        display: none;
    }   
    .navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
    
    .ccTlNav .navbar-collapse ul.navbar-nav,
    .ccTlNav .navbar-collapse ul.navbar-nav li{
        width: 100%;
    }
    .ccTlNav .navbar-collapse ul.navbar-nav > li > a{
	   text-align: center;
    }
	.ccTlNav .navbar-collapse ul.navbar-nav > li > .dropdown > a{
        text-align: center;
    }
    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar .has-megamenu {
        position: static!important;
    }
    .ccTlNav .navbar-collapse ul.navbar-nav .dropdown-menu.megamenu{
        max-width: 95%;
        left: 50%;
        width: 100%;
        margin: 0 auto;
        transform: translate(-50%, 0px);
        padding: 1.1%;
        border: 1px solid #ccc;
    }
}
@media only screen and (max-width:1199px){
    .profilePt .innerProt h2{
        left: 25%;
    }
    .achieveSec .achivBox {
        flex-wrap: wrap;
        /* align-items: center; */
        justify-content: center;
    }
    .nwlyAdded .item,
    .categorySec .catSecInr .item{
        width: 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .achieveSec .achivBox .item{
        width: 33.333%;
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}
@media only screen and (max-width:991px){
    .deskShow{
        display: none;
    }
	
    /* .ccTlNav .topStrp{ */
        /* display: none; */
    /* } */
    .ccTlNav .botStrp{
        border-top-color: transparent;
        padding-bottom: 15px;
    }
    .navSearch{
        max-width: calc(100% - 70px);
    }
    .essnIcon ul li{
        padding-right: 10px;
        /* padding-left: 10px; */
    }
    .ccTlNav .navbar-brand img{
        padding-left: 0;
    }
    .ccTlNav .navbar-collapse{
        position: absolute;
        top: 100%;
        background: rgb(255, 255, 255);
        width: 100%;
        border-bottom: 2px solid rgb(225, 225, 225);
        left: 0px;
        padding-left: 15px;
        padding-right: 15px;
        z-index: 999;
    }
    .productFilterHead,
    .brandSecInr{
        flex-wrap: wrap;
    }
    .productFilterHead > div{
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
    }
    .productFilterHead > div.rightAccess{
        justify-content: space-between;
    }
    .pageContent{
        /* padding-top: 50px; */
    }
    .cartDetails .item h3{
        margin-bottom: 15px;
    }
    .processBox .numCount .numSelf{
        width: 80px;
        height: 80px;
        font-size: 35px;
    }
    .profilePt .innerProt h2{
        left: 30%;
    }
    
    .partner > img{
        object-position: 56%;   
    }
    .brandSecInr .item.ito-wrap-1{
        flex-direction: row;
        flex: 0 0 100%;
    }
    .achieveSec .achivBox .item,
    .brandSecInr .item.ito-wrap-1 .brd-col-2{
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .brandSecInr .item.ito-wrap-1 .brd-col-2{
        width: calc(50% - 10px);
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
    .brandSecInr .item.ito-wrap-1 .brd-col-2{
        margin-top: 0;
        height: auto;
    }
    .brandSecInr .item.ito-wrap-1{
        margin-bottom: 20px;
    }
    .brandSecInr .item + .item.brd-col-1-3{
        margin-left: 0;
        
        width: calc(50% - 10px);
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
    .brandSecInr{
        justify-content: space-between;
    }
    .nwlyAdded .item, .categorySec .catSecInr .item{
        width: 33.333%;
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}
@media only screen and (max-width:767px){
    .productFilterHead .rightAccess .selectbx .form-control{
        min-width: auto;
    }
    footer .footTop .footCol{
        flex: 0 0 50%;
        max-width: 50%;
        width: 50%;
        margin-bottom: 30px;
    }
    footer .footTop .footCol:last-child{
        margin-bottom: 0;
    }
    footer .footTop .footCol h4{
        margin-bottom: 15px;
    }
    .subscribeBx,
    footer .footTop {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .processBox.imgLeft .imgSide,
    .processBox.imgLeft .textSide,
    .processBox .imgSide{
        padding-right: 15px;
        padding-left: 15px;
    }
    .processBox .imgSide{
        margin-bottom: 30px;
    }
    .processBox{
        padding-left: 70px;
    }
    .processBox .numCount .numSelf{
        transform: translate(0px, 0px);
        left: 15px;
    }
    .processBox .numCount::after{
        left: 55px;
        transform: translate(0px, 0px);
    }
    .processBox.imgRight .row .textSide{
        order:2;
    }
    .processBox.imgSide .row .textSide{
        order:2;
    }
    .profilePt .themeProf{
        position: static;
        margin-bottom: 15px;
    }
    .profilePt .innerProt .imgbx{
        left: 50%;
        transform: translate(-50%, 0px);
    }
    .profilePt .innerProt h2{
        position: static;
        padding-top: 60px;
        text-align: center;
    }
    .offerSec a{
        display: block;
        margin-bottom: 15px;
    }
	 .innerSiteCont .content-part { 
        padding-bottom: 0;
    }
}
@media only screen and (max-width:580px){
    .ccTlNav .navbar-brand img{
        max-width: 140px;
    }
    .essnIcon ul li .extra-icon {
        font-size: 23px;
    }
    .icoWithText {
        padding-left: 24px;
    }
    .navbar-light .navbar-brand{
        margin-right: 2px;
    }
    .ccTlNav .middleStrp{
        padding-right: 5px;
        padding-left: 5px;
    }
    .essnIcon ul li {
        padding-right: 5px;
        padding-left: 5px;
    }
    .navSearch button[type="submit"],
    .subscribeWrap input[type="submit"]{
        font-size: 12px;
        min-width: auto;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    footer .footTop .footCol{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
    .brandSecInr .item.ito-wrap-1,
    .achieveSec .achivBox .item{
        flex-wrap: wrap;
    }
    .brandSecInr .item.ito-wrap-1 .brd-col-2,
    .brandSecInr .item + .item.brd-col-1-3{
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 15px;
    }
    .brandSecInr .item.ito-wrap-1 .brd-col-2 + .brd-col-2{
        margin-top: 15px;
    }
    .nwlyAdded .item, .categorySec .catSecInr .item {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .achieveSec .achivBox .item{
        justify-content: center;
    }
    .achieveSec .achivBox .item .cont {
        text-align: center;
    }

    .achieveSec .achivBox .item .icon{
        padding-right: 0;
        flex: 0 0 100%;
        text-align: center;
    }
}

@media only screen and (max-width:400px){
    .achieveSec .achivBox .item{
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.qtyfield
{
width:50%;
}
.item .mf-product-details .itemfooter{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.item .mf-product-details .add-to-cart-text{
    padding: 5px;
    line-height: normal;
    white-space: nowrap;
    height: 35px;
    border: 0;
    border-radius: 2px;
    background: #FF9F2B;
    color: #fff;
	margin-left: 6px;
}
.item .mf-product-details .add-to-cart-text:hover{
    color: #FF9F2B;
	border-radius: 2px;
	background:#fff;
}
.productItemWrap .item .itemInnter .mf-product-thumbnail a.thumbNail img{
    height: 130px;
    object-fit: contain;
    /*background: #eee;*/
    border-radius: 5px;
}
.productItemWrap .item .itemInnter{
    padding: 10px
}
.innerSiteCont .content-part {
    width: 75%;
    padding: 0 12px 0 12px;
    float: left;
    padding-bottom: 50px;
    margin-bottom: 20px;
    margin-right: 0%;
}

.loginMain {

    padding: 15px;

    background: #f3f3f3;

    border-radius: 3px;

}

.loginMain .loginContainer{

    max-width: 400px;

    margin: 0 auto;



}

.loginMain input{

    border-radius: 0px;

}

.loginMain label {

    font-weight: 400;

    color: #777;

}
.topStrp marquee .red,
.topStrp marquee h3,
.topStrp marquee p{
	margin:0px;
}

@media only screen and (max-width:1280px){
	.marqueeMobile{
		display:block;
	}
	.marqueePC{
		display:none;
	}
	.container-fluid.topStrp .col-md-6{
		width:100%;
	}
	.container-fluid.topStrp .col-md-6 ul{
		float: right;
	}
}
@media only screen and (min-width:1281px){
	.marqueeMobile{
		display:none;
	}
	.marqueePC{
		display:block;
	}
}
.gst{
	display:none;
}
@media only screen and (max-width:480px){
	.emailHeader{
		display:none;
	}
	.homeBannerSec .slick-track .slick-slide img{
		height: 150px !important;
	}
	.gst{
		display:block;
	}
}

@media only screen and (min-width:481px) and (max-width:1280px){
	/* .footCol.footoFour .fotLogo{ */
		/* display:block; */
	/* } */
	/* .footCol.footoOne .fotLogo{ */
		/* display:none; */
	/* } */
	.footCol.footoOne .col-md-6{
		width:100%;
	}
	footer .footTop .fotLogo {
     margin-bottom: 0px;
    }
	.homeBannerSec .slick-track .slick-slide img{
		height: 300px !important;
	}
    .notification-content{
        position:relative;
    }
    .notification-content .notification-date{
        position:absolute;
        top:-2px;
        right:0px;
        font-size:13px;
        font-style: italic;
        color:#303030;
    }
   .notification-content h2{
        font-size:14px;
        font-weight:700;
        color:#303030;
    }
    .notification-content p{
        font-size:14px;
        line-height:20px;
        color:#303030;
    }
    .notification-single-top h4{
        font-size: 16px;
        color: #303030;
        font-weight: 400;
        text-align: center;
        padding: 15px 0px;
        margin: 0px;
        border-bottom:1px solid #383838;
    }
    .notification-single-top h4 {
        border-bottom: 1px solid #F6F8FA;
    }
    .notification-single-top h4 {
        border-bottom: 1px solid #F6F8FA;
    }
    .notification-view a {
        border-top: 1px solid #F6F8FA;
    }
    .notification-view a{
        display:block;
        color: #ccc;
        font-size: 14px;
        border-top:1px solid #383838;
        padding: 15px 0px;
        text-align:center;
        text-decoration:none;
    }
    .notification-view a {
        border-top: 1px solid #c7290d;
    }
    
}